#tooltips_css {
 display:none
}
.mention_tt_subscr_icon,.mott_app {
 -ms-high-contrast-adjust:none
}
.h4-text {
 color:#000;
 border-bottom:none;
 font-size:1em;
 font-weight:400;
 -webkit-font-smoothing:subpixel-antialiased;
 -moz-osx-font-smoothing:auto;
 margin:0;
 padding:0
}
.tt_w {
 z-index:1501;
 cursor:default;
 font-size:12.5px;
 color:#222;
 border-radius:2px;
 box-shadow:0 1px 3px rgba(0,0,0,.1);
 position:relative;
 position:absolute
}
.tt_w:after,.tt_w:before {
 position:absolute;
 pointer-events:none;
 border:solid transparent;
 content:'';
 height:0;
 width:0
}
.tt_w.tt_up:after,.tt_w.tt_up:before {
 bottom:100%
}
.tt_w.tt_down:after,.tt_w.tt_down:before {
 top:100%
}
.tt_w.tt_left:after,.tt_w.tt_left:before {
 right:100%
}
.tt_w.tt_right:after,.tt_w.tt_right:before {
 left:100%
}
.tt_default,.tt_default_right {
 border:1px solid #c5d0db;
 background:#fff
}
.tt_default.tt_up:after,.tt_default.tt_up:before {
 left:30px
}
.tt_default.tt_up:before {
 border-width:6px;
 margin:0 -6px;
 border-bottom-color:#c5d0db
}
.tt_default.tt_up:after {
 border-width:5px;
 margin:0 -5px;
 border-bottom-color:#fff;
 -webkit-transform:translate3d(0, 0.5px, 0);
 transform:translate3d(0, 0.5px, 0)
}
.tt_default.tt_down:after,.tt_default.tt_down:before {
 left:30px
}
.tt_default.tt_down:before {
 border-width:6px;
 margin:0 -6px;
 border-top-color:#c5d0db
}
.tt_default.tt_down:after {
 border-width:5px;
 margin:0 -5px;
 border-top-color:#fff;
 -webkit-transform:translate3d(0, -0.5px, 0);
 transform:translate3d(0, -0.5px, 0)
}
.tt_default.tt_left:after,.tt_default.tt_left:before {
 top:50%
}
.tt_default.tt_left:before {
 border-width:6px;
 margin:-6px 0;
 border-right-color:#c5d0db
}
.tt_default.tt_left:after {
 border-width:5px;
 margin:-5px 0;
 border-right-color:#fff;
 -webkit-transform:translate3d(0.5px, 0, 0);
 transform:translate3d(0.5px, 0, 0)
}
.tt_default.tt_right:after,.tt_default.tt_right:before {
 top:50%
}
.tt_default.tt_right:before {
 border-width:6px;
 margin:-6px 0;
 border-left-color:#c5d0db
}
.tt_default.tt_right:after {
 border-width:5px;
 margin:-5px 0;
 border-left-color:#fff;
 -webkit-transform:translate3d(-0.5px, 0, 0);
 transform:translate3d(-0.5px, 0, 0)
}
.tt_default.tocenter.tt_down:after,.tt_default.tocenter.tt_down:before,.tt_default.tocenter.tt_up:after,.tt_default.tocenter.tt_up:before {
 left:50%
}
.tt_default_right.tt_up:after,.tt_default_right.tt_up:before {
 right:30px
}
.tt_default_right.tt_up:before {
 border-width:6px;
 margin:0 -6px;
 border-bottom-color:#c5d0db
}
.tt_default_right.tt_up:after {
 border-width:5px;
 margin:0 -5px;
 border-bottom-color:#fff;
 -webkit-transform:translate3d(0, 0.5px, 0);
 transform:translate3d(0, 0.5px, 0)
}
.tt_default_right.tt_down:after,.tt_default_right.tt_down:before {
 right:30px
}
.tt_default_right.tt_down:before {
 border-width:6px;
 margin:0 -6px;
 border-top-color:#c5d0db
}
.tt_default_right.tt_down:after {
 border-width:5px;
 margin:0 -5px;
 border-top-color:#fff;
 -webkit-transform:translate3d(0, -0.5px, 0);
 transform:translate3d(0, -0.5px, 0)
}
.tt_no_shadow {
 box-shadow:none
}
.tt_w .tt_text {
 padding:12px 14px 13px;
 line-height:17px
}
.tt_w.tt_black {
 background:#000;
 background:rgba(0,0,0,.7);
 border:none;
 border-radius:3px
}
.tt_w.tt_black.tt_up:after {
 left:20px;
 border-width:5px;
 margin:0 -5px;
 border-bottom-color:rgba(0,0,0,.7)
}
.tt_w.tt_black.tt_down:after {
 left:20px;
 border-width:5px;
 margin:0 -5px;
 border-top-color:rgba(0,0,0,.7)
}
.tt_w.tt_black.rich {
 border-radius:5px;
 box-shadow:0 1px 3px rgba(0,0,0,.28)
}
.tt_w.tt_black.toleft:after,.tt_w.tt_black.toleft:before {
 left:auto;
 right:20px
}
.tt_w.tt_black.tocenter:after,.tt_w.tt_black.tocenter:before,.tt_w.tt_default.tocenter:after,.tt_w.tt_default.tocenter:before {
 left:50%
}
.tt_black .tt_text {
 color:#fff;
 font-size:1em;
 padding:4px 7px 5px;
 line-height:1.154;
 white-space:nowrap
}
.tt_black a {
 color:#b1daff
}
.tt_black_side.tt_w.tt_black.tt_down:after {
 top:11px;
 border-width:4px;
 margin:-4px 0;
 border-left-color:rgba(0,0,0,.7);
 border-top-color:transparent;
 left:auto;
 right:-8px
}
.tt_black_side.tt_w.tt_black.tt_down .ttb_cont {
 padding:3px 7px 5px
}
.tt {
 position:absolute;
 z-index:1501;
 cursor:default;
 font-size:12.5px
}
.tt .side_sh {
 opacity:0.05;
 filter:alpha(opacity=5);
 background:#000;
 overflow:hidden;
 width:1px;
 display:none
}
.tt .outer .side_sh {
 opacity:0.12;
 filter:alpha(opacity=12)
}
.tt .bottom_sh {
 opacity:0.05;
 filter:alpha(opacity=5);
 background:#000;
 overflow:hidden;
 height:1px;
 line-height:1px
}
.tt .bottom_pointer,.tt .top_pointer {
 display:none;
 position:relative;
 bottom:-1px;
 height:8px;
 width:11px;
 margin:0px 20px;
 overflow:hidden
}
.tt .bottom_pointer {
 bottom:auto;
 top:-3px
}
.tt .outer .bottom_sh {
 opacity:0.12;
 filter:alpha(opacity=12)
}
.tt.rich .side_sh {
 display:table-cell
}
.tt .tt_text {
 background:#fff;
 border:1px solid #c5d0db;
 padding:12px 14px 13px;
 color:#222
}
.board_tt .toup .top_pointer,.gifts_tt .toup .top_pointer,.im_stickers_gift_tt .toup .top_pointer,.sticker_hint_tt .toup .top_pointer {
 margin-right:0px;
 margin-left:64px;
 display:block;
 background:url(/images/tooltip_arrow_up.gif) no-repeat
}
.apps_sms_tt .toup1 .bottom_pointer,.board_tt .toup1 .bottom_pointer,.gifts_tt .toup1 .bottom_pointer,.im_stickers_gift_tt .toup1 .bottom_pointer,.sticker_hint_tt .toup1 .bottom_pointer {
 display:block;
 background:url(/images/tooltip_arrow_white.png) no-repeat
}
.apps_sms_tt .toup .top_pointer {
 margin-left:64px
}
.apps_sms_tt .toup .top_pointer,.login_app_sms_tt .toup .top_pointer {
 margin-right:0px;
 display:block;
 background:url(/images/tooltip_arrow_up_gray.gif) no-repeat
}
.settings_comments_disabled_tt .toup1 .bottom_pointer {
 margin:0 158px
}
.tt_w.mobile_tt:after,.tt_w.mobile_tt:before {
 left:37px
}
.tt_w.mobile_tt_right:after,.tt_w.mobile_tt_right:before {
 left:291px
}
.tt_w.mobile_tt_asrtl:after,.tt_w.mobile_tt_asrtl:before {
 left:237px
}
.gifts_tt .toup1 .bottom_pointer,.gifts_tt .toup .top_pointer {
 margin-left:91px
}
.im_stickers_gift_tt .toup1 .bottom_pointer,.im_stickers_gift_tt .toup .top_pointer {
 margin-left:158px
}
.gifts_tt .bottom_sh {
 display:none
}
.gifts_tt .bottom_pointer {
 top:-2px
}
.gifts_tt table table {
 box-shadow:0px 1px 5px rgba(0,0,0,.25)
}
.mott_header,.promoted_post_tt .header,.verified_tt_header,.wall_tt .header {
 color:#42648b;
 font-weight:700;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 overflow:hidden;
 margin:0px 0px 9px
}
.mott_header a,.verified_tt_header a {
 color:#42648b
}
.mott_text,.verified_tt_text {
 line-height:17px
}
.mott_apps {
 padding:12px 0 3px
}
.mott_app {
 display:inline-block;
 background:url(/images/icons/mob_devices.png) no-repeat 0 1px;
 padding-left:20px;
 margin-right:20px;
 line-height:15px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .mott_app {
  background-image:url(/images/icons/mob_devices_2x.png);
  background-size:12px 49px
 }
}
.mott_app.mott_app_ios {
 background-position:0 -19px
}
.mott_app.mott_app_wp {
 background-position:0 -36px
}
.gifts_tt_wrap {
 border:1px solid #aebdcc;
 background:#fff;
 border:1px solid #96aabe
}
.wall_tt {
 font-size:1em;
 color:#000
}
.wall_tt .ui_actions_menu_wrap {
 display:none
}
.wall_tt .content {
 min-width:80px;
 max-width:380px;
 width:auto!important;
 width:380px;
 padding:15px;
 overflow:hidden;
 line-height:140%
}
.wall_tt .wk_photo {
 max-width:358px!important;
 height:auto!important
}
.wall_tt .like_tt_bottom {
 background:#fafbfc;
 border-top:1px solid #e7e8ec;
 padding:10px 20px 12px
}
.wall_tt .open_graph span {
 color:#656565
}
.wall_tt div.thumb {
 margin:0px 10px 10px 0px
}
.wall_tt div.thumb img {
 max-width:200px
}
.wall_tt.tt_default.tt_down:not(.post_source_tt):not(.fw_reply_tt):after {
 border-top-color:#fafbfc
}
.wall_tt.preview_tt .content {
 line-height:140%
}
.wall_tt.preview_tt .like_tt_bottom {
 padding:10px 15px 12px
}
.wall_module .wall_posts .wall_tt .post {
 display:block
}
.wall_mvkcom_tt .text_content {
 line-height:160%
}
.mott_content {
 width:300px;
 padding:14px;
 overflow:hidden
}
.mobile_tt_asrtl .mott_content {
 width:260px
}
.tt_default.verified_tt.tt_up:after,.tt_default.verified_tt.tt_up:before {
 left:100px
}
.tt_default.verified_tt.tt_up:before {
 border-width:6px;
 margin:0 -6px;
 border-bottom-color:#c5d0db
}
.tt_default.verified_tt.tt_up:after {
 border-width:5px;
 margin:0 -5px;
 border-bottom-color:#fff;
 -webkit-transform:translate3d(0, 0.5px, 0);
 transform:translate3d(0, 0.5px, 0)
}
.tt_default.verified_tt.tt_down:after,.tt_default.verified_tt.tt_down:before {
 left:100px
}
.tt_default.verified_tt.tt_down:before {
 border-width:6px;
 margin:0 -6px;
 border-top-color:#c5d0db
}
.tt_default.verified_tt.tt_down:after {
 border-width:5px;
 margin:0 -5px;
 border-top-color:#fff;
 -webkit-transform:translate3d(0, -0.5px, 0);
 transform:translate3d(0, -0.5px, 0)
}
.verified_tt_content {
 min-width:235px;
 max-width:270px;
 width:auto!important;
 width:270px;
 padding:14px;
 overflow:hidden
}
div.fw_reply_tt .content,div.own_reply_tt .content {
 max-width:448px;
 width:448px!important;
 padding:0
}
.page_market_tt.tt_left:after,.page_market_tt.tt_left:before {
 top:20px
}
.wall_mvkcom_tt .content {
 max-width:365px;
 width:auto!important;
 width:365px
}
.wall_checkin_tt .label {
 width:80px;
 color:#777;
 padding:2px 0px
}
.wall_checkin_tt .header {
 border-bottom:1px solid #dae1e8;
 margin-bottom:4px
}
.wall_checkin_tt .header span {
 display:block;
 color:#777;
 font-weight:400;
 -webkit-font-smoothing:subpixel-antialiased;
 -moz-osx-font-smoothing:auto;
 font-size:0.9em;
 margin:2px 0px
}
.wall_poll_tt .content table {
 width:300px
}
.wall_poll_tt .radiobtn {
 padding:4px 0px
}
.wall_poll_tt .wall_poll_row {
 background:#fafafa;
 width:95%
}
.wall_poll_tt .wall_poll_row_desc {
 padding:2px 4px
}
.wall_poll_tt .wall_poll_text {
 padding:7px 2px 2px
}
.wall_poll_tt .wall_poll_percent {
 background:#dae1e8;
 border-top:1px solid #cad1e9;
 height:14px
}
.share_tt .content {
 padding:10px
}
.share_tt .checkbox:before {
 margin-top:0
}
.invite_tt table .tt_text {
 color:#000;
 padding:12px 16px;
 line-height:160%;
 width:385px
}
.invite_tt table.toup .top_pointer {
 display:block;
 background:url(/images/tooltip_arrow_up.gif) no-repeat
}
#top_invite_hint {
 position:absolute;
 width:1px;
 height:1px;
 margin-top:-30px;
 margin-left:220px
}
#invite_hint_img {
 background:url(/images/relatives.gif?2) no-repeat 0 0;
 width:59px;
 height:30px;
 margin:2px 0px 0px
}
#invite_hint_close {
 right:3px;
 position:absolute;
 top:13px;
 width:18px;
 height:18px;
 background:url(/images/hide_left.gif) no-repeat 50%;
 opacity:0.5;
 filter:alpha(opacity=50);
 cursor:pointer
}
.preq_wrap {
 width:252px;
 overflow:hidden;
 background:#fff
}
.preq_wrap.request {
 width:225px
}
.preq_bottom {
 border-top:1px solid #dae1e8;
 background:#f7f7f7;
 padding:9px 10px 8px
}
.preq_content {
 line-height:160%;
 padding:8px 10px 7px
}
.preq_btn_wrap {
 padding:8px 0 5px;
 text-align:center
}
.preq_friend {
 line-height:160%;
 padding:8px 14px 9px
}
.preq_header {
 color:#36638e;
 font-weight:700;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 overflow:hidden;
 margin:0px 3px 5px
}
.preq_text {
 line-height:160%;
 padding:0px 3px 3px;
 color:#777
}
.preq_wrap .preq_input {
 width:188px;
 vertical-align:top;
 resize:none;
 margin:1px 0px 2px;
 padding:6px 8px 8px 7px;
 outline:none
}
.preq_wrap .preq_buttons {
 padding-top:6px;
 display:none
}
.preq_wrap .preq_warn {
 padding:6px 0px 2px;
 color:#777;
 display:none
}
.preq_tt {
 margin-top:5px;
 border:1px solid #bccad7;
 border-radius:2px;
 box-shadow:1px 1px 2px 0px rgba(0,0,0,.1)
}
.preq_tt .bottom_sh,.preq_tt .side_sh {
 display:none
}
.preq_tt:after,.preq_tt:before {
 bottom:100%;
 left:50%;
 border:solid transparent;
 content:" ";
 height:0;
 width:0;
 position:absolute;
 pointer-events:none
}
.preq_tt:after {
 border-color:hsla(0,0%,100%,0);
 border-bottom-color:#fff;
 border-width:5px;
 margin-left:-5px
}
.preq_tt:before {
 border-color:rgba(188,202,215,0);
 border-bottom-color:#bccad7;
 border-width:6px;
 margin-left:-6px
}
.poll_tt {
 color:#fff;
 cursor:pointer;
 background:url('/images/mv_bg.png');
 background:rgba(0,0,0,.7);
 border-radius:5px;
 box-shadow:0 1px 3px rgba(0,0,0,.28);
 text-shadow:0px 1px 0px #262626
}
.poll_tt table.toup1 .bottom_pointer {
 background:url(/images/icons/like_icons_bl.png) -2px -47px no-repeat;
 bottom:-7px;
 top:auto
}
.poll_tt table.toup1 .bottom_pointer,.poll_tt table.toup .top_pointer {
 margin-right:0px;
 margin-left:64px;
 display:block;
 width:13px;
 height:7px;
 position:absolute
}
.poll_tt table.toup .top_pointer {
 bottom:-2px;
 background:url(/images/icons/like_icons_bl.png) -2px -58px no-repeat;
 top:-6px;
 bottom:auto
}
.poll_tt .header {
 cursor:pointer
}
.poll_tt .header .poll_tt_head_wrap {
 padding:8px 9px 3px;
 font-weight:700;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale
}
.poll_tt .content {
 width:210px;
 padding:5px 10px 7px
}
.poll_tt .content .hider {
 width:210px;
 height:33px;
 position:relative;
 overflow:hidden
}
.poll_tt_usr {
 display:block;
 height:30px;
 width:30px;
 margin-right:6px;
 box-shadow:0 1px 1px rgba(0,0,0,.3);
 overflow:hidden
}
.poll_tt_usr,.poll_tt .poll_tt_stats_photo {
 border-radius:3px
}
.mention_tt.tt_up:after,.mention_tt.tt_up:before {
 left:55px
}
.mention_tt.tt_up:before {
 border-width:6px;
 margin:0 -6px;
 border-bottom-color:#c5d0db
}
.mention_tt.tt_up:after {
 border-width:5px;
 margin:0 -5px;
 border-bottom-color:#fff;
 -webkit-transform:translate3d(0, 0.5px, 0);
 transform:translate3d(0, 0.5px, 0)
}
.mention_tt.tt_down:after,.mention_tt.tt_down:before {
 left:55px
}
.mention_tt.tt_down:before {
 border-width:6px;
 margin:0 -6px;
 border-top-color:#c5d0db
}
.mention_tt.tt_down:after {
 border-width:5px;
 margin:0 -5px;
 border-top-color:#fff;
 -webkit-transform:translate3d(0, -0.5px, 0);
 transform:translate3d(0, -0.5px, 0)
}
.mention_tt.toleft.tt_down:after,.mention_tt.toleft.tt_down:before,.mention_tt.toleft.tt_up:after,.mention_tt.toleft.tt_up:before {
 left:auto;
 right:55px
}
.mention_tt.mention_has_actions.tt_default.tt_down:after {
 border-top-color:#fafbfc
}
.mention_tt_wrap {
 padding:15px;
 box-sizing:border-box;
 min-width:315px;
 max-width:400px
}
.mention_tt_photo {
 float:left;
 display:block;
 height:80px;
 width:80px
}
.mention_tt_img {
 width:80px;
 height:80px;
 border-radius:50%
}
.mention_tt_data {
 overflow:hidden;
 padding-left:12px
}
.mention_tt_title {
 font-size:14px;
 font-weight:500;
 -webkit-font-smoothing:subpixel-antialiased;
 -moz-osx-font-smoothing:auto;
 line-height:140%
}
.mention_tt_row {
 line-height:17px;
 padding-top:3px
}
.mention_tt_info,.mention_tt_people_wrap {
 padding-top:7px
}
.mention_tt_people_wrap:first-child {
 padding-top:0
}
.mention_tt_extra,.mention_tt_extra a {
 color:#656565
}
.mention_tt_online {
 color:#939393
}
.mention_tt_person {
 float:left;
 height:34px;
 width:34px;
 display:block;
 margin:6px 0 0 8px
}
.mention_tt_person:first-child {
 margin-left:0
}
.mention_tt_person_img {
 width:34px;
 height:34px;
 border-radius:50%
}
.mention_tt_actions {
 background-color:#fafbfc;
 padding:12px 14px;
 border-top:1px solid #e7e8ec;
 white-space:nowrap
}
.mention_tt_subscr {
 padding-left:15px
}
.mention_tt_subscr.secondary .mention_tt_subscr_icon {
 background-position:0 -12px
}
.mention_tt_subscr.secondary .mention_tt_sub_label {
 display:none
}
.mention_tt_subscr.secondary .mention_tt_unsub_label {
 display:inline
}
.mention_tt_subscr_icon {
 background:url(/images/icons/follow_icon.png?2) no-repeat 0 3px;
 padding-left:20px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .mention_tt_subscr_icon {
  background-image:url(/images/icons/follow_icon_2x.png?2);
  background-size:12px 41px
 }
}
.mention_tt_unsub_label {
 display:none
}
.flat_button.mention_tt_write {
 margin-left:10px
}
.tt_bottom_link {
 color:#777;
 padding:10px 0px 0px
}
.promoted_post_tt {
 max-width:330px
}
.sticker_hint_tt table .tt_text {
 color:#000;
 padding:10px;
 width:340px;
 line-height:160%
}
.subscr_post_tt {
 width:250px
}
.subscribe_post_tt {
 position:absolute
}
.subscribe_post_tt .wrapped {
 overflow:visible
}
.subscribe_post_tt .toup1:before {
 border-top:6px solid #bccad7;
 bottom:-6px
}
.subscribe_post_tt .toup1:before,.subscribe_post_tt .toup1:after {
 border-left:6px solid transparent;
 border-right:6px solid transparent;
 content:"";
 display:block;
 position:absolute;
 width:0px;
 height:0px;
 left:50%;
 margin-left:-6px
}
.subscribe_post_tt .toup1:after {
 border-top:6px solid #fff;
 bottom:-5px
}
.subscribe_post_tt .toup:before {
 border-bottom:6px solid #bccad7;
 top:-6px
}
.subscribe_post_tt .toup:before,.subscribe_post_tt .toup:after {
 border-left:6px solid transparent;
 border-right:6px solid transparent;
 content:"";
 display:block;
 position:absolute;
 width:0px;
 height:0px;
 left:50%;
 margin-left:-6px
}
.subscribe_post_tt .toup:after {
 border-bottom:6px solid #fff;
 top:-5px
}
.sticker_extra_tt .tt_text,.subscribe_post_tt .tt_text {
 border-radius:3px;
 box-shadow:1px 1px 3px 0px rgba(0,0,0,.1);
 padding:10px 13px 11px;
 border-color:#bccad7;
 color:#424242
}
.subscribe_post_tt .bottom_sh,.sticker_extra_tt.tt_text_only .stickers_extra_image_wrap {
 display:none
}
.sticker_extra_tt .tt_text {
 padding:10px 16px 12px;
 width:222px
}
.sticker_extra_tt .tt_text .stickers_extra_text {
 line-height:17px
}
.sticker_extra_tt .tt_text .stickers_extra_text>b {
 margin-bottom:5px;
 background:none;
 height:auto;
 width:auto;
 display:block;
 color:#2d2d2d
}
.sticker_extra_tt a.wikiExtLink {
 display:block;
 margin-top:8px;
 border:none;
 background:none
}
.sticker_extra_tt a.wikiExtLink:hover {
 text-decoration:underline
}
.sticker_extra_tt .stickers_extra_image_wrap {
 margin-bottom:20px
}
.sticker_extra_tt .stickers_extra_image {
 width:256px;
 height:110px;
 margin:-11px -17px;
 border-radius:3px 3px 0px 0px
}
.ttb {
 position:absolute;
 z-index:2000;
 cursor:default
}
.ttb .bottom_pointer,.ttb .top_pointer {
 display:none;
 position:relative;
 float:left;
 bottom:-1px;
 height:5px;
 width:9px;
 margin:0 15px;
 overflow:hidden
}
.ttb .top_pointer {
 margin:-5px 15px
}
.ttb .toup1 .bottom_pointer {
 background:url('/images/blacktip.gif') 0 5px
}
.ttb .toup1 .bottom_pointer,.ttb .toup .top_pointer {
 display:block;
 bottom:auto;
 opacity:0.7;
 filter:alpha(opacity=70)
}
.ttb .toup .top_pointer {
 background:url('/images/blacktip.gif')
}
.ttb .toleft .bottom_pointer,.ttb .toleft .top_pointer {
 position:relative;
 float:right
}
.ttb.rich .bottom_pointer {
 background:url(/images/icons/like_icons_bl.png) -2px -47px no-repeat;
 width:13px;
 height:7px;
 opacity:1;
 -webkit-filter:none;
 filter:none
}
.ttb a {
 color:#b1daff
}
.ttb .im_date_tt .tt_text {
 width:120px;
 text-align:center
}
.ttb .im_date_tt .bottom_pointer {
 margin:0 62px
}
.ttb .ttb_cont {
 background:#000;
 background:rgba(0,0,0,.7);
 border-radius:3px;
 padding:4px 7px;
 color:#fff;
 font-weight:700;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale
}
.ttb.rich .ttb_cont {
 border-radius:5px;
 box-shadow:0 1px 3px rgba(0,0,0,.28)
}
.member_info_tt {
 background:#fff;
 border:1px solid #888;
 box-shadow:0 2px 10px 2px hsla(0,0%,50%,.75)
}
.member_info_tt:before {
 border-bottom:7px solid #fff;
 top:-6px;
 z-index:3
}
.member_info_tt:before,.member_info_tt:after {
 content:"";
 position:absolute;
 border-left:7px solid transparent;
 border-right:7px solid transparent
}
.member_info_tt:after {
 border-bottom:7px solid #888;
 top:-7px;
 z-index:2
}
.member_info_tt .bottom_sh,.member_info_tt .side_sh,.member_info_tt .big_wall_post {
 display:none
}
.member_info_tt .wide_wall_module {
 padding:10px 15px
}
.member_info_tt .wide_wall_module .post_info,.member_info_tt .wide_wall_module .wall_post_text,.member_info_tt .wide_wall_module .wall_text {
 width:337px
}
.member_info_tt .wide_wall_module .post {
 margin-bottom:10px
}
.member_info_tt .wide_wall_module .post:last-child {
 margin-bottom:0
}
.ban_reason_tt {
 max-width:550px;
 word-break:break-all
}
.ban_reason_tt .tt_text {
 padding:15px 20px 20px
}
.ban_reason_tt .page_top {
 border-bottom:0
}
.ban_reason_tt .login_blocked_text {
 padding:0
}
.ban_reason_tt .login_blocked_reason_text,.ban_reason_tt .login_blocked_reasons {
 margin-bottom:0
}
.wall_tt .wall_module .wall_text .page_media_thumbed_link:last-child {
 margin-bottom:0px
}
