#ui_controls_css {
 display:none
}
.checkbox_container table td .checkbox_off,.checkbox_container table td .checkbox_off_over,.checkbox_container table td .checkbox_on,.checkbox_container table td .checkbox_on_over,.idd_popup .idd_header.idd_arrow,.idd_popup .idd_item.idd_sublist,.idd_wrap .idd_arrow,.radiobtn_container table td .radiobtn_off_over div,.radiobtn_container table td .radiobtn_off div,.radiobtn_container table td .radiobtn_on_over div,.radiobtn_container table td .radiobtn_on div,.selector_container td.selector .token_selected span.x,.selector_container td.selector .token_selected span.x_hover,.selector_container td.selector .token span.x,.selector_container td.selector .token span.x_hover,.selector_container td.selector_dropdown {
 -ms-high-contrast-adjust:none
}
.h4-text {
 color:#000;
 border-bottom:none;
 font-size:1em;
 font-weight:400;
 -webkit-font-smoothing:subpixel-antialiased;
 -moz-osx-font-smoothing:auto;
 margin:0;
 padding:0
}
.checkbox_container,.selector_container {
 zoom:1
}
.selector_container {
 background:#fff
}
.selector_container table.selector_table {
 width:100%;
 z-index:0;
 border:1px solid #d3d9de;
 margin:0
}
.big.selector_container table.selector_table {
 border-radius:1px
}
.big.selector_container.selector_focused table.selector_table {
 border-radius:1px 1px 0 0
}
.big.selector_container.selector_focused.reverse table.selector_table {
 border-radius:0 0 1px 1px
}
.big_text.selector_container table.selector_table {
 border-radius:3px;
 height:35px
}
.big_text.selector_container.selector_focused table.selector_table {
 border-radius:3px 3px 0 0
}
.big_text.selector_container.selector_focused.reverse table.selector_table {
 border-radius:0 0 3px 3px
}
.selector_container table td {
 vertical-align:middle
}
.selector_container td.selector {
 border:none;
 padding:2px 0 0 2px;
 height:1%;
 overflow:hidden;
 position:relative
}
.big.selector_container td.selector {
 padding:3px 0 0 3px
}
.list_style.selector_container td.selector {
 padding:0;
 overflow:hidden
}
.selector_container td.selector:after {
 content:".";
 display:block;
 height:0;
 clear:both;
 visibility:hidden
}
.selector_container td.selector .placeholder_wrap1 {
 width:0;
 height:0;
 position:relative
}
.selector_container td.selector .placeholder_wrap2 {
 position:absolute;
 left:3px;
 top:2px
}
.big.selector_container td.selector .placeholder_wrap2 {
 left:7px;
 top:2px
}
.big_text.selector_container td.selector .placeholder_wrap2 {
 font-size:14px;
 left:9px;
 top:3px
}
.selector_container td.selector .placeholder_content {
 white-space:nowrap;
 line-height:normal
}
.selector_container td.selector .placeholder_cover {
 position:absolute;
 left:0;
 right:0;
 top:0;
 bottom:0
}
.selector_container td.selector input {
 position:relative;
 background:transparent;
 float:left;
 width:100px;
 outline:none;
 border:none;
 margin:0 0 1px;
 padding:1px 0 2px 3px;
 text-overflow:ellipsis
}
.big.selector_container td.selector input {
 padding:2px 0 1px 6px;
 height:16px;
 margin-bottom:6px
}
.big_text.selector_container td.selector input {
 font-size:14px;
 padding:4px 0 2px 9px
}
.big_text.selector_container td.selector input:first-line {
 line-height:14px
}
.dropdown_container.selector_container td.selector input {
 cursor:default
}
.list_style.selector_container td.selector input {
 line-height:19px;
 padding:6px 3px 6px 7px;
 font-size:13px;
 margin:0
}
.selector_container td.selector input.ph {
 color:#828282
}
.selector_container td.selector input.focused,.selector_container td.selector input.selected {
 color:#000
}
.list_style.limited_height.selector_container.show_top_fader td.selector .selected_items_wrap .scroll_fader_top,.list_style.limited_height.selector_container.show_bottom_fader td.selector .selected_items_wrap .scroll_fader_bottom {
 opacity:1
}
.list_style.limited_height.selector_container td.selector .selected_items {
 max-height:200px;
 overflow-y:auto;
 overflow-x:hidden
}
.list_style.limited_height.selector_container td.selector .selected_items_wrap {
 position:relative;
 overflow:hidden;
 height:auto;
 max-height:200px
}
.list_style.limited_height.selector_container td.selector .selected_items_wrap .selected_items {
 display:block
}
.list_style.limited_height.selector_container td.selector .selected_items_wrap .scroll_fader_top {
 position:absolute;
 top:-10px;
 left:-5px;
 width:105%;
 height:10px;
 box-shadow:0px 0px 10px rgba(0,0,0,.2);
 z-index:3;
 -o-transition:opacity 0.2s ease;
 transition:opacity 0.2s ease;
 opacity:0
}
.list_style.limited_height.selector_container td.selector .selected_items_wrap .scroll_fader_bottom {
 position:absolute;
 bottom:-10px;
 left:-5px;
 width:105%;
 height:10px;
 box-shadow:0px 0px 10px rgba(0,0,0,.2);
 z-index:3;
 -o-transition:opacity 0.2s ease;
 transition:opacity 0.2s ease;
 opacity:0
}
.selector_container td.selector .token_inner,.selector_container td.selector .token_prefix {
 font-size:1em;
 line-height:1em;
 color:#55677d;
 cursor:default;
 background:#dae2e8;
 display:inline-block;
 margin:0;
 border:solid #fff;
 border-width:0 2px 2px 0;
 padding:2px 2px 3px 4px!important
}
.big.selector_container td.selector .token_inner,.big.selector_container td.selector .token_prefix {
 border-width:0;
 margin:0 3px 3px 0;
 border-radius:2px;
 padding:4px 3px 5px 7px!important
}
.list_style.selector_container td.selector .token_inner {
 width:100%;
 box-sizing:border-box;
 margin:0;
 border-bottom:1px solid #d3d9de;
 background:#f7f8f9;
 color:#3b4045;
 border-radius:0;
 line-height:19px;
 cursor:pointer
}
.selector_container td.selector .token_prefix {
 background:#fff;
 padding-left:2px!important
}
.big.selector_container td.selector .token_prefix {
 padding-left:3.5px!important
}
.selector_container td.selector .token:first-child .token_prefix {
 display:none
}
.selector_container td.selector .token {
 float:left;
 white-space:nowrap;
 display:block
}
.list_style.selector_container td.selector .token {
 float:none;
 white-space:normal
}
.list_style.selector_container td.selector .token .token_inner {
 -o-transition:background-color 0.05s ease;
 transition:background-color 0.05s ease
}
.list_style.selector_container td.selector .token.long_transition .token_inner {
 -o-transition:background-color 2s ease;
 transition:background-color 2s ease
}
.list_style.selector_container td.selector .token.highlighted .token_inner {
 background-color:#fafaea
}
.selector_container td.selector .token_selected .token_inner {
 background:#6287ae;
 color:#fff
}
.selector_container td.selector .token span.x,.selector_container td.selector .token span.x_hover {
 background:url(/images/icons/tag_cross.png) 50% no-repeat;
 position:relative;
 display:inline-block;
 width:20px;
 height:10px!important;
 cursor:pointer;
 vertical-align:top;
 padding:0;
 margin:2px 0 0 2px!important;
 opacity:0.6;
 -o-transition:opacity 0.2s ease;
 transition:opacity 0.2s ease;
 margin:0;
 float:right
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .selector_container td.selector .token span.x,.selector_container td.selector .token span.x_hover {
  background-image:url(/images/icons/tag_cross_2x.png);
  background-size:10px 10px
 }
}
.list_style.selector_container td.selector .token span.x,.list_style.selector_container td.selector .token span.x_hover {
 margin:5px 0 0 2px!important;
 margin:0
}
.list_style.selector_container td.selector .token span.x {
 opacity:0
}
.list_style.selector_container td.selector .token_hover span.x,.list_style.selector_container td.selector .token span.x_hover {
 opacity:0.6
}
.list_style.selector_container td.selector .token_hover span.x:hover,.selector_container td.selector .token_hover span.x,.selector_container td.selector .token span.x_hover {
 opacity:1
}
.selector_container td.selector .token_selected span.x,.selector_container td.selector .token_selected span.x_hover {
 background:url(/images/icons/common.png?6) no-repeat 5px -161px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .selector_container td.selector .token_selected span.x,.selector_container td.selector .token_selected span.x_hover {
  background-image:url(/images/icons/common_2x.png?6);
  background-size:32px 232px
 }
}
.selector_container td.selector_dropdown {
 z-index:0;
 width:16px;
 cursor:default;
 background:url(/images/dropdown_arrow.png) no-repeat 0 50%;
 border:none;
 border-left:1px solid transparent;
 padding:0
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .selector_container td.selector_dropdown {
  background-image:url(/images/dropdown_arrow_2x.png);
  background-size:11px 7px
 }
}
.big.selector_container td.selector_dropdown {
 width:25px;
 background-position:5px
}
.big.selector_container td.selector_dropdown:hover {
 cursor:pointer
}
.selector_focused table.selector_table {
 border-color:#c9d0d6
}
.dropdown_noarr td.selector_dropdown {
 display:none
}
.disabled.selector_container {
 background:#f2f4f7
}
.disabled.selector_container table.selector_table {
 border-color:#d3d9de
}
.disabled.selector_container td.selector input {
 color:#abaeb1
}
.disabled.selector_container td.selector .token .token_inner {
 color:#777;
 background:#e7e7e7
}
.disabled.selector_container td.selector_dropdown {
 border-left-color:transparent
}
.results_container,.result_list {
 position:absolute;
 z-index:100
}
.result_list {
 margin:-1px 0 0;
 left:0;
 overflow-y:hidden;
 border:1px solid #c9d0d6;
 box-sizing:border-box;
 box-shadow:0 1px 3px rgba(0,0,0,.1)
}
.selector_container.reverse .result_list {
 box-shadow:none
}
.big.selector_container .result_list {
 border-radius:0 0 1px 1px
}
.big.selector_container.reverse .result_list {
 border-radius:1px 1px 0 0
}
.result_list_scrollable {
 overflow-y:scroll
}
.result_list ul {
 margin:0;
 padding:0;
 background:#fff;
 position:relative;
 zoom:1
}
.result_list li.disabled {
 background:#eee;
 padding:5px 5px 4px 6px;
 cursor:default;
 text-align:left
}
.result_list ul li {
 color:#000;
 padding:4px 0 3px 5px;
 list-style-type:none;
 cursor:pointer;
 position:relative;
 overflow:hidden;
 text-align:left;
 line-height:16px
}
.result_list ul li.active {
 background:#e7edf2;
 color:#000
}
.result_list ul li.label {
 font-weight:700;
 border-bottom:1px solid #eee;
 margin-top:5px
}
.result_list ul li.label.disabled {
 background:none
}
.result_list_scrollable ul li.last {
 border-bottom:0
}
.result_list ul li span {
 display:block;
 padding-top:2px;
 color:#656565;
 font-size:7pt;
 font-weight:400;
 -webkit-font-smoothing:subpixel-antialiased;
 -moz-osx-font-smoothing:auto
}
.result_list ul li span.num_delim {
 display:inline
}
.big .result_list ul li span {
 font-size:12px
}
.result_list ul li em {
 font-weight:700;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 font-style:normal;
 background-color:#e7edf2
}
.result_list ul li img {
 position:absolute;
 width:32px;
 height:32px;
 top:6px;
 left:6px
}
.big .result_list ul li {
 padding:6px 0 8px 9px
}
.big.with_icons .result_list ul li {
 padding:9px 12px 8px 56px;
 white-space:nowrap;
 text-overflow:ellipsis;
 font-size:12.5px;
 font-weight:700;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 color:#42648b
}
.big.with_icons .result_list ul li.active {
 background:#f0f2f5
}
.big.with_icons .result_list ul li span {
 padding-top:1px
}
.big.with_icons .result_list ul li img {
 top:8px;
 left:12px;
 width:34px;
 height:34px;
 border-radius:50%
}
.big_text .result_list ul li {
 padding:7px 0 9px 12px;
 font-size:14px
}
.dividing_line ul li {
 border-bottom:1px solid #dbe4ec
}
.mobile_selector_container input {
 -webkit-appearance:none
}
.mobile_selector_container .result_list {
 opacity:1
}
.checkbox_container,.radiobtn_container {
 cursor:pointer
}
.checkbox_container.inline {
 display:inline-block
}
.radiobtn_container .radiobtn:before,.checkbox_container .checkbox:before {
 display:none
}
.checkbox_container.disabled,.radiobtn_container.disabled {
 cursor:default;
 opacity:0.5;
 filter:alpha(opacity=50)
}
.checkbox_container table,.radiobtn_container table {
 width:100%;
 z-index:0;
 margin:5px 0
}
.checkbox_container.inline table {
 margin:0
}
.checkbox_container table td,.radiobtn_container table td {
 vertical-align:middle
}
.checkbox_container table td.checkbox {
 width:20px;
 padding:2px 0 0
}
.checkbox_container.inline table td.checkbox {
 padding:0
}
.checkbox_container table td.checkbox_label,.radiobtn_container table td.radiobtn_label {
 line-height:140%;
 padding:0 0 0 3px
}
.checkbox_container.inline table td.checkbox_label {
 line-height:inherit
}
.checkbox_container table td.checkbox_label {
 padding-top:1px
}
.checkbox_container.inline table td.checkbox_label {
 padding-top:0
}
.checkbox_container table td .checkbox_off,.checkbox_container table td .checkbox_off_over,.checkbox_container table td .checkbox_on,.checkbox_container table td .checkbox_on_over {
 background:url(/images/icons/dev_check.png?2) 0 0 no-repeat;
 margin:0 7px 0 0;
 width:15px;
 height:15px;
 overflow:hidden
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .checkbox_container table td .checkbox_off,.checkbox_container table td .checkbox_off_over,.checkbox_container table td .checkbox_on,.checkbox_container table td .checkbox_on_over {
  background-image:url(/images/icons/dev_check_2x.png?2);
  background-size:15px 75px
 }
}
.checkbox_container table td .checkbox_on {
 background-position:0 -15px
}
.checkbox_container table td .checkbox_off_over {
 background-position:0 -30px
}
.checkbox_container table td .checkbox_on_over {
 background-position:0 -45px
}
.checkbox_container.disabled {
 cursor:default;
 opacity:0.5;
 filter:alpha(opacity=50)
}
.checkbox_container.disabled td.checkbox div.checkbox_on_over {
 background-position:0 -15px
}
.checkbox_container.disabled td.checkbox div.checkbox_off_over {
 background-position:0 0
}
.radiobtn_container table td.radiobtn {
 width:20px;
 padding:1px 0 0
}
.radiobtn_container.disabled table td.radiobtn {
 cursor:default
}
.radiobtn_container input {
 display:none
}
.radiobtn_container table td .radiobtn_off,.radiobtn_container table td .radiobtn_off_over,.radiobtn_container table td .radiobtn_on,.radiobtn_container table td .radiobtn_on_over {
 width:14px;
 height:14px;
 overflow:hidden
}
.radiobtn_container table td .radiobtn_off_over div,.radiobtn_container table td .radiobtn_off div,.radiobtn_container table td .radiobtn_on_over div,.radiobtn_container table td .radiobtn_on div {
 width:14px;
 height:14px;
 background:url(/images/icons/dev_radio.png?1) 0 0 no-repeat;
 margin-top:0
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .radiobtn_container table td .radiobtn_off_over div,.radiobtn_container table td .radiobtn_off div,.radiobtn_container table td .radiobtn_on_over div,.radiobtn_container table td .radiobtn_on div {
  background-image:url(/images/icons/dev_radio_2x.png?1);
  background-size:14px 70px
 }
}
.radiobtn_container table td .radiobtn_on div {
 background-position:0 -14px
}
.radiobtn_container.disabled table td .radiobtn_off div,.radiobtn_container table td .radiobtn_off_over div {
 background-position:0 -28px
}
.radiobtn_container.disabled table td .radiobtn_on div,.radiobtn_container table td .radiobtn_on_over div {
 background-position:0 -42px
}
a.dd_menu_target:hover {
 text-decoration:none!important
}
.pageBody a.dd_link,a.dd_link {
 background:url(/images/flydead.gif) no-repeat right 3px;
 padding-right:17px;
 font-weight:400;
 -webkit-font-smoothing:subpixel-antialiased;
 -moz-osx-font-smoothing:auto;
 text-decoration:none
}
.dd_menu,.dd_menu_header {
 position:absolute;
 z-index:1500
}
.dd_menu_header {
 border:1px solid #3b6798;
 cursor:pointer;
 _margin-left:1px
}
.dd_menu_header div {
 border:1px solid #6d8fb3;
 color:#fff;
 padding:3px 5px;
 white-space:nowrap;
 padding-right:17px;
 line-height:1.27em;
 background:#6d8fb3 url(/images/flydead.gif) no-repeat right -13px
}
.dd_menu_header.leftArrow div {
 background:#6d8fb3 url(/images/flydead.gif) no-repeat 1px -13px;
 padding-right:5px;
 padding-left:16px
}
.dd_header_hover {
 border-color:#dae1e8;
 opacity:0.6;
 filter:alpha(opacity=60)
}
.dd_header_hover div {
 background:#dae1e8 url(/images/flydead.gif) no-repeat right 5px;
 color:#2b587a;
 border-color:#dae1e8
}
x:-moz-any-link {
 padding-top:1px
}
.dd_menu_body {
 position:absolute;
 z-index:1499;
 margin-left:-1px;
 _margin-left:0
}
.dd_menu_rows {
 border:1px solid #96aabe;
 margin:0;
 background:#fff;
 position:relative;
 z-index:1499
}
.dd_menu_rows a {
 background:#fff;
 display:block;
 line-height:1.09em;
 padding:4px 6px 0;
 height:18px;
 white-space:nowrap;
 cursor:pointer;
 background-repeat:no-repeat
}
.dd_menu_rows a.dd_a_hover,.dd_menu_rows a:hover {
 background-color:#dae2e8;
 text-decoration:none
}
.dd_menu_rows2 {
 column-gap:0;
 -moz-column-gap:0;
 -webkit-column-gap:0;
 page-break-inside:avoid;
 break-inside:avoid;
 -webkit-column-break-inside:avoid
}
.dd_menu_shad_l div,.dd_menu_shad_r div {
 width:1px
}
.dd_menu_shad_l {
 background:#000;
 filter:alpha(opacity=6);
 opacity:0.06;
 overflow:hidden;
 width:1px
}
.dd_menu_shad_b,.dd_menu_shad_b2 {
 background:#000;
 height:2px;
 margin-top:-1px;
 filter:alpha(opacity=7);
 opacity:0.07;
 overflow:hidden;
 position:relative;
 z-index:148
}
.dd_menu_shad_b2 {
 filter:alpha(opacity=5);
 opacity:0.05
}
.dd_menu_shad_r {
 background:#000;
 filter:alpha(opacity=6);
 opacity:0.06;
 overflow:hidden;
 width:1px
}
.dd_menu_checkable .dd_menu_rows a div {
 width:20px;
 height:20px;
 float:left
}
.dd_menu_rows a img {
 float:left;
 visibility:hidden;
 margin-right:3px
}
.dd_menu_rows a.checked img {
 visibility:visible
}
.inlContainer {
 position:absolute;
 display:none;
 z-index:10
}
.inlFrame00,.inlFrame01,.inlFrame02,.inlFrame10,.inlFrame12,.inlFrame20,.inlFrame21,.inlFrame22 {
 background:#c5ced7;
 opacity:0.75;
 filter:alpha(opacity=75);
 width:5px
}
.inlFrame01,.inlFrame21 {
 width:auto
}
.inlFrame01 div,.inlFrame21 div {
 height:5px
}
.inlContainer table {
 border:0;
 border-collapse:collapse
}
.inlContainer td {
 border:0;
 padding:0
}
.inlMainTable td.inlContent {
 background:#f2f2f2;
 border:1px solid #aaa;
 padding:7px
}
.inlButtonCancel,.inlButtonOk {
 width:50%
}
.inlContentTable .button_blue,.inlContentTable .button_gray {
 margin:7px 0 0
}
.inlContentTable .button_gray {
 margin-left:7px
}
.inlInput {
 margin:0
}
.dd_dark .dd_menu_header div {
 background-color:#6d8fb3;
 border-color:#6d8fb3
}
.dd_dark .dd_menu_header {
 border-color:#6d8fb3
}
.dd_dark .dd_header_hover div {
 background-color:#dae1e8;
 border-color:#dae1e8
}
.dd_dark .dd_header_hover {
 border-color:#dae1e8
}
.mdd-wrap {
 position:relative;
 display:inline-block;
 -webkit-touch-callout:none;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
.mdd-value {
 display:inline-block;
 cursor:pointer
}
.mdd-value:hover {
 text-decoration:underline
}
.mdd-wrap .mdd-popup {
 background-color:#fff;
 color:#2b587a;
 position:absolute;
 border:1px solid #b2bdcb;
 box-shadow:0px 1px 3px rgba(0,0,0,.22);
 min-width:130px;
 border-radius:2px;
 z-index:9999999;
 opacity:1
}
.mdd-wrap .mdd-items-wrap {
 max-height:240px;
 overflow:auto
}
.mdd-wrap .mdd-item {
 padding:5px 10px;
 cursor:pointer
}
.mdd-wrap .mdd-item.with-icon {
 padding:3px 5px;
 height:20px
}
.mdd-wrap .mdd-item-icon {
 float:left
}
.mdd-wrap .mdd-item .mdd-item-name {
 display:inline-block
}
.mdd-wrap .mdd-item.with-icon .mdd-item-name {
 margin-top:3px;
 margin-left:5px
}
.mdd-wrap .mdd-arrow {
 background:url(/images/flydead_flat.gif) no-repeat right 1px;
 padding-right:17px
}
.mdd-rtl.mdd-wrap .mdd-item {
 text-align:right
}
.mdd-wrap .mdd-item.cascade-open,.mdd-wrap .mdd-item.hovered {
 background:#e1e7ed
}
.mdd-wrap .mdd-item-selected-wrap {
 padding:6px 8px 6px 10px;
 background:#edf1f5;
 cursor:pointer
}
.mdd-wrap .mdd-item-selected-wrap.with-icon {
 padding-left:30px
}
.mdd-wrap .mdd-item-selected,.mdd-wrap .mdd-item-selected:hover {
 display:inline-block;
 padding-right:17px
}
.mdd-wrap .mdd-item.with-icon .mdd-item-icon {
 width:20px;
 height:20px
}
.mdd-wrap .mdd-item-selected.mdd-arrow,.mdd-wrap .mdd-item-selected.mdd-arrow:hover {
 background:url(/images/flydead_flat.gif) no-repeat right 1px
}
.mdd-rtl.mdd-wrap .mdd-item-selected,.mdd-rtl.mdd-wrap .mdd-item-selected:hover {
 background:#edf1f5 url(/images/flydead_flat.gif) no-repeat 0% 1px;
 text-align:right
}
.mdd-wrap .mdd-selected {
 background:#d1d9e0
}
.mdd-wrap .mdd-cascade-wrap {
 background-color:#fff;
 position:absolute;
 z-index:99999999;
 border:1px solid #b2bdcb;
 box-shadow:0px 1px 3px rgba(0,0,0,.22);
 min-width:130px;
 border-radius:2px
}
.mdd-wrap .mdd-cascade .mdd-cascade-item {
 padding:6px 10px
}
.mdd-wrap .mdd-cascade .mdd-cascade-item:hover {
 background-color:#e1e7ed
}
.idd_wrap {
 cursor:pointer;
 display:inline-block;
 line-height:1em
}
.idd_wrap .idd_selected_value {
 margin:0;
 padding:0;
 line-height:1em;
 display:inline-block;
 outline:none;
 color:#2a5885
}
.idd_wrap .idd_selected_value:hover {
 text-decoration:underline
}
.idd_wrap .idd_arrow {
 background-image:url(/images/icons/dd_arrow.png);
 background-repeat:no-repeat;
 background-position:right 5px;
 padding-right:15px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .idd_wrap .idd_arrow {
  background-image:url(/images/icons/dd_arrow_2x.png);
  background-size:8px 4px
 }
}
.idd_popup {
 position:absolute;
 z-index:300;
 border:1px solid #b2bdcb;
 border-radius:2px;
 box-shadow:0px 1px 3px rgba(0,0,0,.22);
 opacity:0;
 line-height:1em;
 display:block;
 -o-transition:opacity 45ms linear;
 transition:opacity 45ms linear;
 -moz-transition:opacity 45ms linear;
 -webkit-transition:opacity 45ms linear
}
.idd_popup.idd_align_left {
 -webkit-transform:translateX(-100%);
 -ms-transform:translateX(-100%);
 -o-transform:translateX(-100%);
 transform:translateX(-100%)
}
.idd_popup .idd_no_pe {
 pointer-events:none
}
.idd_popup .idd_header_wrap {
 background-color:#edf1f5;
 cursor:pointer;
 line-height:1em
}
.idd_popup .idd_header_wrap.idd_with_icon {
 padding-left:20px
}
.idd_popup .idd_header {
 padding:7px 9px;
 color:#2a5885;
 display:inline-block;
 line-height:1em
}
.idd_popup .idd_header.idd_arrow {
 background-image:url(/images/icons/dd_arrow.png);
 background-repeat:no-repeat;
 background-position:right 12px;
 padding-right:15px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .idd_popup .idd_header.idd_arrow {
  background-image:url(/images/icons/dd_arrow_2x.png);
  background-size:8px 4px
 }
}
.idd_popup .idd_items_wrap {
 max-height:290px;
 overflow:auto
}
.idd_popup .idd_items_content {
 background-color:#fff
}
.idd_popup .idd_item {
 padding:7px 9px;
 color:#2a5885;
 cursor:pointer;
 line-height:1em;
 overflow:hidden;
 white-space:nowrap;
 outline:none
}
.idd_popup .idd_item:active {
 background-color:#d5dde5!important
}
.idd_popup .idd_item.idd_hover,.idd_popup .idd_item.idd_hover_sublist_parent {
 background-color:#e1e7ed
}
.idd_popup .idd_item.idd_hl {
 background-color:#d5dde5
}
.idd_popup .idd_item .idd_check_icon {
 width:10px;
 height:8px;
 display:inline-block;
 margin-right:7px
}
.idd_popup .idd_item .idd_checked {
 background-image:url(/images/icons/idd_check.png?2)
}
.idd_popup .idd_item .idd_item_name {
 display:inline-block;
 vertical-align:top
}
.idd_popup .idd_item.idd_with_icon {
 padding:2px 4px
}
.idd_popup .idd_item.idd_with_icon .idd_item_icon {
 width:20px;
 height:20px;
 display:inline-block
}
.idd_popup .idd_item.idd_with_icon .idd_item_name {
 margin:4px 5px 5px
}
.idd_popup .idd_item.idd_sublist {
 background-image:url(/images/icons/idd_cascade_arrow.png?1);
 background-repeat:no-repeat;
 background-position:right 9px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .idd_popup .idd_item.idd_sublist {
  background-image:url(/images/icons/idd_cascade_arrow_2x.png?1);
  background-size:11px 8px
 }
}
