#login_css {
 display:none
}
.login_app_device_android .login_app_device_screen,.login_app_device_android .login_app_device_screen.login_app_device_br,.login_app_device_android .login_app_device_screen.login_app_device_en,.login_app_device_android .login_app_device_screen.login_app_device_ua,.login_app_device_ios .login_app_device_screen,.login_app_device_ios .login_app_device_screen.login_app_device_br,.login_app_device_ios .login_app_device_screen.login_app_device_en,.login_app_device_ios .login_app_device_screen.login_app_device_ua,.login_app_device_wp .login_app_device_screen,.login_app_device_wp .login_app_device_screen.login_app_device_br,.login_app_device_wp .login_app_device_screen.login_app_device_en,.login_app_device_wp .login_app_device_screen.login_app_device_ua,.login_app_download_icon,.login_mobile_close {
 -ms-high-contrast-adjust:none
}
.h4-text {
 color:#000;
 border-bottom:none;
 font-size:1em;
 font-weight:400;
 -webkit-font-smoothing:subpixel-antialiased;
 -moz-osx-font-smoothing:auto;
 margin:0;
 padding:0
}
.page_section {
 margin:0 0 20px 82px;
 padding:60px 0px 18px;
 width:463px
}
.page_section .error {
 margin:15px 0;
 display:none
}
.page_section .error.msg {
 display:block
}
.page_section .info {
 padding-bottom:22px;
 text-align:center
}
.page_section .section_row {
 padding-bottom:5px
}
.page_section .section_row.section_actions_row {
 padding:10px 0 0
}
.page_section .section_row.section_actions_row_long {
 margin-right:-110px
}
.page_section .label {
 padding:8px 10px 0px 0px;
 float:left;
 text-align:right;
 width:220px;
 color:#777
}
.page_section .labeled {
 float:left
}
.page_section .labeled .text {
 width:192px;
 height:22px
}
.page_section .button_blue {
 margin-top:5px
}
.page_section_msg.msg {
 padding:8px;
 margin:0 0 25px
}
.page_section_msg.msg:empty {
 display:none
}
.page_section .msg {
 margin:20px 0
}
.page_section_result {
 text-align:center;
 margin:0 -50px;
 font-size:14px
}
.page_section_result_title {
 margin-bottom:14px;
 font-weight:700
}
.page_section h2 {
 margin:0 0 10px;
 padding:0 0 3px
}
.bottom_row {
 border-top:1px solid #e7e8ec;
 padding:13px 6px;
 text-align:center;
 background-color:#fafbfc;
 color:#000;
 font-size:12.5px;
 line-height:19px
}
#pass_wrap {
 display:none
}
.login_sure_thumb {
 width:50px;
 height:50px;
 border-radius:50%;
 float:left;
 margin-right:10px
}
.login_sure_name {
 float:left;
 width:180px
}
.login_sure_name_wrap {
 padding:8px 0 6px;
 line-height:1
}
.login_sure_name_lnk {
 margin:0;
 font-weight:700;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 color:#42648b
}
.login_sure_name_city {
 color:#939699;
 font-size:12.5px;
 line-height:1.154
}
.login_sure {
 padding:0 0 0 90px
}
.login_sure_btns {
 margin:26px 0 0
}
.login_sure_btns .button_cancel,.login_sure_btns .flat_button {
 float:left;
 margin-right:4px
}
.login_sure_btns .button_cancel .button {
 padding-top:8px
}
.login_sure_btns .button_blue,.login_sure_btns .button_cancel {
 margin-right:5px
}
.login_help_content {
 line-height:160%;
 padding:25px 35px
}
.login_help_back {
 width:130px;
 margin:20px auto 0px
}
#login_blocked_wrap {
 padding:20px 30px 35px
}
.login_blocked_centered {
 padding-bottom:20px
}
.login_blocked_centered,.login_blocked_bottom {
 margin:0 auto;
 text-align:center;
 font-size:1.09em;
 color:#111;
 line-height:160%;
 width:480px
}
.login_blocked_bottom:empty {
 display:none
}
.login_blocked_bad_form {
 width:200px;
 margin:20px auto 0
}
#login_blocked_wrap h2 {
 padding-top:10px;
 margin-bottom:20px;
 font-size:1.09em
}
#blocked_reasons_btn_wrap {
 padding-top:10px;
 text-align:center
}
.login_blocked_msg {
 padding-bottom:20px;
 font-size:1.09em;
 color:#111;
 line-height:160%
}
#login_blocked_img {
 margin-bottom:10px
}
#blocked_submit_result {
 display:none;
 margin:0 auto 10px;
 width:515px
}
#login_blocked_wrap .login_blocked_row {
 margin:0 auto 10px;
 padding:0;
 width:134px
}
.login_blocked_submit {
 width:134px;
 margin:11px auto 0px
}
#login_blocked_wrap .login_blocked_label {
 padding:6px 0 10px;
 font-weight:700;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 font-size:1.09em;
 color:#45688e;
 width:200px
}
.login_blocked_submit {
 margin:11px auto 0px;
 width:134px
}
input.login_big_text {
 font-family:tahoma,verdana,arial,sans-serif;
 background:#fff;
 border:1px solid #c0cad5;
 font-size:1.09em!important;
 padding:5px 4px 4px;
 margin:0px
}
.login_blocked_tt_pointer {
 background:url(/images/ddtooltip.png) 0 0 no-repeat;
 width:8px;
 height:11px;
 position:absolute;
 left:-7px;
 overflow:hidden;
 z-index:10;
 top:31px
}
.login_blocked_tt table .tt_text {
 line-height:120%;
 color:#000;
 padding:10px;
 width:200px
}
.login_blocked_phone_tt table div.tt_text {
 width:220px
}
#blocked_code,#blocked_pass,#blocked_phone {
 width:124px;
 outline:none
}
.login_select_wrap input.login_readonly,.login_readonly_wrap {
 background:#e1e7ed
}
#blocked_other_phone,#blocked_use_reg_phone {
 position:absolute;
 margin:-19px 0px 0px 144px
}
.is_rtl1 #blocked_other_phone,.is_rtl1 #blocked_use_reg_phone {
 margin-left:0px;
 margin-right:144px
}
#blocked_about_pass {
 position:absolute;
 margin-top:-1px;
 height:5px;
 width:134px;
 overflow:hidden
}
.blocked_about_login {
 padding-top:5px;
 font-size:0.9em;
 color:#777
}
#blocked_phone_table {
 border:1px solid #c0cad5;
 width:134px
}
#blocked_phone_prefix {
 vertical-align:top;
 width:1px;
 color:#777;
 font-size:1.09em;
 padding:5px 0px 4px 5px
}
.login_readonly_wrap #blocked_phone_prefix {
 color:#000
}
.blocked_phone_field {
 vertical-align:top;
 width:100%;
 padding:5px 0px 0px
}
.is_rtl1 #blocked_phone_prefix {
 padding:5px 5px 4px 0px
}
#blocked_phone_table #blocked_phone {
 width:100%;
 outline:none;
 border:0px;
 padding:0px;
 margin:0px -1px;
 background:transparent
}
#blocked_country_wrap .selector_container td.selector {
 padding-top:3px;
 padding-bottom:4px
}
#blocked_country_wrap .selector_container td.selector input {
 font-family:tahoma,verdana,arial,sans-serif;
 font-size:1.09em!important
}
#blocked_country_wrap .disabled.selector_container .selector_dropdown {
 background-color:#f2f2f2;
 border-color:#f2f2f2
}
.blocked_no_code {
 padding-top:10px;
 text-align:center
}
#blocked_send_pass {
 padding-left:4px;
 padding-right:5px
}
.blocked_pwd_level0 {
 display:none
}
.blocked_pwd_level1 {
 background:#cd4849;
 width:25%
}
.blocked_pwd_level2 {
 background:#ff762d;
 width:50%
}
.blocked_pwd_level3 {
 background:#c9b72d;
 width:75%
}
.blocked_pwd_level4 {
 background:#60b92b;
 width:100%
}
#blocked_pass_strength {
 color:#777
}
.login_blocked_resend_box {
 line-height:160%
}
.login_blocked_robot {
 width:160px;
 height:160px;
 margin:-7px auto -9px;
 background:url(/images/join/robot.gif) no-repeat
}
.login_blocked_reason,.login_blocked_reason_text {
 position:relative;
 padding:10px;
 margin:0 auto 20px;
 min-width:450px;
 max-width:600px;
 background-color:#edf0f5;
 line-height:160%
}
.login_blocked_reason_text .page_post_thumb_wrap {
 display:block
}
.login_blocked_reason_photo {
 position:absolute
}
.login_blocked_reason_img {
 width:30px;
 height:30px;
 overflow:hidden
}
.login_blocked_reason_info {
 margin-left:45px
}
.login_blocked_reason_label {
 padding-bottom:2px;
 font-weight:700;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 color:#45668e
}
.login_blocked_reason_wout_msg {
 min-height:30px;
 overflow:hidden
}
.login_blocked_reason_wout_msg .login_blocked_reason_label {
 margin-top:6px
}
table.login_blocked_reason_thumbs {
 margin-bottom:20px;
 border-collapse:collapse;
 border-spacing:0
}
.login_blocked_reason_td {
 vertical-align:top
}
.login_blocked_thumb_cell {
 overflow:hidden;
 text-align:center;
 width:66px
}
.login_blocked_thumb_photo {
 margin:0 8px;
 display:block;
 padding-bottom:6px;
 height:50px;
 width:50px
}
.login_blocked_thumb_name {
 text-align:center
}
.login_blocked_photo_cell {
 margin:0 3px 0 2px;
 max-height:130px;
 max-width:130px;
 overflow:hidden
}
.login_blocked_photo_img {
 max-width:130px
}
.login_blocked_photo_caption {
 padding:10px
}
.login_blocked_video_cell_a {
 margin:0 3px 0 2px;
 display:block;
 overflow:hidden;
 text-align:center
}
.login_blocked_video_title_a {
 margin-top:5px;
 display:block;
 text-align:center
}
.login_blocked_reason_wrap {
 padding-bottom:20px
}
.login_blocked_reason_wrap .login_blocked_reason {
 margin-bottom:0
}
.login_btn_with_arr {
 padding-right:25px;
 background:url(/images/backlink.gif) no-repeat right -127px
}
.login_authcheck_wrap {
 padding:15px 20px 20px
}
.login_authcheck_wrap .msg {
 margin:0 0 20px
}
.login_authcheck_wrap .dark {
 width:140px
}
.login_authcheck_info {
 padding-bottom:20px;
 line-height:19px
}
.login_authcheck_row {
 margin:0 auto 10px;
 width:140px
}
.login_authcheck_no_code {
 display:block;
 position:absolute;
 margin:-23px 0 0 150px
}
.login_authcheck_options {
 padding:15px 0 0
}
.login_authcheck_options .progress_inline {
 margin-bottom:3px
}
#login_authcheck_remember {
 width:200px
}
.login_blocked_activity_row {
 position:relative;
 padding:0 4px 4px;
 margin-bottom:13px
}
.login_blocked_activity_photo {
 position:absolute;
 padding-top:2px
}
.login_blocked_activity_img {
 width:30px;
 height:30px;
 overflow:hidden
}
.login_blocked_activity_info {
 margin-left:40px
}
.login_blocked_activity_label {
 color:#777
}
.login_blocked_activity_label .mem_link {
 font-weight:700;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale
}
.login_blocked_reasons {
 margin:10px 0
}
.login_blocked_text {
 padding:10px 7px;
 line-height:160%
}
.login_blocked_period {
 background:#f6f7f9;
 border:1px solid #dbe0ea;
 padding:8px;
 line-height:160%;
 margin-bottom:20px
}
.login_blocked_label {
 width:130px;
 color:#777;
 padding:4px 10px 0
}
#login_blocked_phone {
 width:130px
}
.login_blocked_row {
 padding-bottom:10px
}
#login_blocked_error {
 margin-bottom:10px;
 display:none
}
.login_blocked_sure {
 line-height:160%
}
#login_blocked_finish {
 display:none
}
#login_blocked_success {
 margin-bottom:10px
}
.login_mobile_promo_wrap {
 position:relative;
 line-height:19px
}
.login_mobile_close {
 display:none;
 position:absolute;
 top:0;
 right:0;
 background:url(/images/cross_popup.png) no-repeat 25px 25px;
 padding:25px;
 width:12px;
 height:12px;
 opacity:0.75;
 filter:alpha(opacity=75);
 cursor:pointer
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .login_mobile_close {
  background-image:url(/images/cross_popup_2x.png);
  background-size:12px 12px
 }
}
.login_mobile_close:hover {
 opacity:1;
 -webkit-filter:none;
 filter:none
}
.login_mobile_apps {
 position:relative;
 padding:38px 50px;
 text-align:center
}
.login_mobile_header {
 font-size:22px;
 margin-bottom:25px
}
.login_mobile_info {
 font-size:14px;
 color:#222;
 line-height:23px
}
.login_mobile_install_button {
 margin:26px auto 6px
}
.login_app_devices {
 white-space:nowrap;
 padding:44px 0 2px
}
.login_app_devices a,.login_app_devices a:hover {
 text-decoration:none
}
.login_about_mobile {
 font-size:12.5px;
 text-align:center;
 padding:12px 25px 14px;
 background:#fafbfc;
 color:#000;
 border-top:1px solid #e7e8ec;
 border-radius:0 0 2px 2px
}
.login_app_device_screen {
 width:192px;
 height:397px;
 background-repeat:no-repeat;
 background-position:50% 50%
}
.login_app_device_ios {
 margin-left:-348px;
 margin-right:156px
}
.login_app_device_ios .login_app_device_screen {
 background-image:url(/images/login/ios_ru.png?5)
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .login_app_device_ios .login_app_device_screen {
  background-image:url(/images/login/ios_ru_2x.png?5);
  background-size:192px 397px
 }
}
.login_app_device_ios .login_app_device_screen.login_app_device_en {
 background-image:url(/images/login/ios_en.png?5)
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .login_app_device_ios .login_app_device_screen.login_app_device_en {
  background-image:url(/images/login/ios_en_2x.png?5);
  background-size:192px 397px
 }
}
.login_app_device_ios .login_app_device_screen.login_app_device_ua {
 background-image:url(/images/login/ios_ua.png?5)
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .login_app_device_ios .login_app_device_screen.login_app_device_ua {
  background-image:url(/images/login/ios_ua_2x.png?5);
  background-size:192px 397px
 }
}
.login_app_device_ios .login_app_device_screen.login_app_device_br {
 background-image:url(/images/login/ios_br.png?5)
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .login_app_device_ios .login_app_device_screen.login_app_device_br {
  background-image:url(/images/login/ios_br_2x.png?5);
  background-size:192px 397px
 }
}
.login_app_device_android {
 margin-right:116px
}
.login_app_device_android .login_app_device_screen {
 background-image:url(/images/login/android_ru.png?5)
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .login_app_device_android .login_app_device_screen {
  background-image:url(/images/login/android_ru_2x.png?5);
  background-size:181px 372px
 }
}
.login_app_device_android .login_app_device_screen.login_app_device_en {
 background-image:url(/images/login/android_en.png?5)
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .login_app_device_android .login_app_device_screen.login_app_device_en {
  background-image:url(/images/login/android_en_2x.png?5);
  background-size:181px 372px
 }
}
.login_app_device_android .login_app_device_screen.login_app_device_ua {
 background-image:url(/images/login/android_ua.png?5)
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .login_app_device_android .login_app_device_screen.login_app_device_ua {
  background-image:url(/images/login/android_ua_2x.png?5);
  background-size:181px 372px
 }
}
.login_app_device_android .login_app_device_screen.login_app_device_br {
 background-image:url(/images/login/android_br.png?5)
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .login_app_device_android .login_app_device_screen.login_app_device_br {
  background-image:url(/images/login/android_br_2x.png?5);
  background-size:181px 372px
 }
}
.login_app_device_wp .login_app_device_screen {
 background-image:url(/images/login/wp_ru.png?5)
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .login_app_device_wp .login_app_device_screen {
  background-image:url(/images/login/wp_ru_2x.png?5);
  background-size:192px 372px
 }
}
.login_app_device_wp .login_app_device_screen.login_app_device_en {
 background-image:url(/images/login/wp_en.png?5)
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .login_app_device_wp .login_app_device_screen.login_app_device_en {
  background-image:url(/images/login/wp_en_2x.png?5);
  background-size:192px 372px
 }
}
.login_app_device_wp .login_app_device_screen.login_app_device_ua {
 background-image:url(/images/login/wp_ua.png?5)
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .login_app_device_wp .login_app_device_screen.login_app_device_ua {
  background-image:url(/images/login/wp_ua_2x.png?5);
  background-size:192px 372px
 }
}
.login_app_device_wp .login_app_device_screen.login_app_device_br {
 background-image:url(/images/login/wp_br.png?5)
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .login_app_device_wp .login_app_device_screen.login_app_device_br {
  background-image:url(/images/login/wp_br_2x.png?5);
  background-size:192px 372px
 }
}
.login_app_device {
 display:inline-block;
 vertical-align:bottom
}
.login_app_device_screen {
 cursor:pointer
}
.login_app_download_wrap {
 margin-top:20px
}
.login_app_download_wrap .flat_button {
 line-height:19px
}
.login_app_download_icon {
 background-image:url(/images/login/platforms.png);
 width:18px;
 height:22px;
 display:inline-block;
 margin:-1px 8px -7px 0
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .login_app_download_icon {
  background-image:url(/images/login/platforms_2x.png);
  background-size:18px 67px
 }
}
.login_app_device_ios .login_app_download_icon {
 background-position:0px 0px
}
.login_app_device_android .login_app_download_icon {
 background-position:0px -23px
}
.login_app_device_wp .login_app_download_icon {
 background-position:0px -44px
}
.login_all_products_button {
 display:inline-block;
 line-height:15px;
 margin-top:24px
}
.login_all_products_button:after {
 content:'';
 display:inline-block;
 width:8px;
 height:8px;
 margin-left:4px;
 transition:-webkit-transform 150ms ease-in-out;
 -o-transition:transform 150ms ease-in-out, -o-transform 150ms ease-in-out;
 transition:transform 150ms ease-in-out;
 transition:transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out, -o-transform 150ms ease-in-out;
 background:url('/images/svg_icons/login_all_products_arrow.svg') no-repeat 50% / contain
}
.login_all_products_button:hover:after {
 -webkit-transform:translateX(2px);
 -ms-transform:translateX(2px);
 -o-transform:translateX(2px);
 transform:translateX(2px)
}
.login_app_sms_sent {
 display:none;
 color:#939393;
 text-align:center;
 font-size:14px;
 height:30px;
 margin:26px auto 6px
}
.login_app_sms_phone_wrap {
 margin-top:20px;
 text-align:center
}
.login_app_sms_reg_phone {
 font-weight:700;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale
}
.login_app_sms_reg_phone_change {
 margin-left:3px
}
#login_app_sms_phone_chooser {
 display:none
}
.login_app_sms_row {
 padding-bottom:10px
}
.login_app_sms_label {
 float:left;
 text-align:right;
 width:175px;
 padding:5px 12px 0 0;
 color:#656565
}
.login_app_sms_labeled {
 overflow:hidden;
 width:160px
}
.login_page .page_block {
 margin:50px auto;
 padding:37px 30px;
 width:680px
}
.login_page #footer_wrap {
 padding:24px 15px 35px;
 border-top:1px solid #e4e8ed
}
.login_page .msg {
 margin:20px 0 30px;
 background-image:none;
 padding-left:18px
}
.login_page .msg .listing {
 margin:19px 0;
 color:#000
}
.login_page .msg .listing li {
 padding:0 0 0 3px
}
.login_fast_restore_wrap,.login_form_wrap {
 margin:0 auto;
 width:270px
}
.login_fast_restore_wrap input.big_text,.login_form_wrap input.big_text {
 margin-bottom:15px;
 width:270px
}
.login_header {
 margin:0 0 25px;
 text-align:center;
 font-size:20px
}
.login_buttons_wrap {
 margin-top:20px
}
.login_button {
 width:105px
}
.login_reg_button {
 margin-left:10px;
 width:155px;
 background-color:#5fb053
}
.login_reg_button.hover,.login_reg_button:hover {
 background-color:#68b35d
}
.login_reg_button.active,.login_reg_button:active {
 background-color:#5aa84d
}
.login_link {
 display:block;
 margin:38px 0 15px
}
.login_tt {
 width:270px
}
.login_fast_restore_wrap {
 margin:38px auto 0
}
.login_fast_restore_wrap .login_fast_restore_link {
 display:block
}
.login_fast_restore_wrap .login_fast_restore,.login_fast_restore_wrap.shown .login_fast_restore_link {
 display:none
}
.login_fast_restore_wrap.shown .login_fast_restore {
 display:block
}
.login_fast_restore_wrap .subheader {
 margin-bottom:18px
}
.login_fast_restore_wrap .msg {
 margin-left:-205px;
 margin-right:-205px
}
.login_fast_restore_resend {
 padding-top:15px;
 color:#656565;
 text-align:center;
 font-size:12.5px
}
.login_fast_restore_resend a {
 font-size:13px
}
.login_fast_restore_resend .progress_inline {
 height:15px
}
