#ui_common_css {
 display:none
}
.box_body .ui_box_search,.box_body .ui_box_search.ui_box_edit,.box_body .ui_box_search.ui_box_gift,.box_grey .ui_box_search,.box_grey .ui_box_search.ui_box_edit,.box_grey .ui_box_search.ui_box_gift,.olist_checkbox,.olist_item_loading .olist_item,.olist_more_icon,.slider .slider_loading_bar,.ui_actions_menu_hide,.ui_actions_menu_icons,.ui_actions_menu_sublist .ui_actions_menu_item.checked,.ui_box_search,.ui_calendar_icon,.ui_crumb_sep,.ui_header_ext_search,.ui_multiselect_cnt .token .token_del,.ui_progress .ui_progress_bar,.ui_rmenu_item_arrow,.ui_search_custom_link .idd_popup .idd_header.idd_arrow,.ui_search_custom_link.idd_wrap .idd_arrow,.ui_search_filters_pane .token .token_del,.ui_search_filters_reset,.ui_search_fltr_ext_link,.ui_search_fltr_progress,.ui_search_loading .ui_search_reset,.ui_search_new .ui_search_progress,.ui_search_reset,.ui_tab_group:after,.ui_tab_search:after,.ui_tabs_progress,.ui_thumb_extra .ui_extra_btn,.ui_thumb_pe_button .ui_thumb_pe,.ui_thumb_pe_button .ui_thumb_x,.ui_thumb_x_button .ui_thumb_pe,.ui_thumb_x_button .ui_thumb_x,.ui_toggler_wrap.hot,.ui_zoom_icon,a.ui_search_custom_link,input.ui_search_field {
 -ms-high-contrast-adjust:none
}
.ui_box_search,.ui_tab_count,.ui_tab_search:after,.ui_thumb_pe_button .ui_thumb_pe,.ui_thumb_pe_button .ui_thumb_x,.ui_thumb_x_button .ui_thumb_pe,.ui_thumb_x_button .ui_thumb_x,.ui_zoom_icon {
 -o-transition:opacity 0.15s ease;
 transition:opacity 0.15s ease
}
.ui_search_filters_reset,.ui_search_reset {
 -o-transition:opacity 0.15s ease, visibility 0.15s ease;
 transition:opacity 0.15s ease, visibility 0.15s ease
}
.h4-text {
 color:#000;
 border-bottom:none;
 font-size:1em;
 font-weight:400;
 -webkit-font-smoothing:subpixel-antialiased;
 -moz-osx-font-smoothing:auto;
 margin:0;
 padding:0
}
.ui_tabs {
 position:relative;
 border-bottom:1px solid #e7e8ec;
 padding:0 10px;
 margin:0;
 list-style:none;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
.ui_tabs.ui_tabs_box {
 padding:0 0 0 15px;
 border-radius:2px 2px 0 0;
 border-color:#e7eaf0;
 background-color:#f2f4f7;
 font-size:14px
}
.ui_tabs.ui_content_tabs {
 padding:0
}
.ui_tabs.ui_content_tabs .ui_tab:first-child {
 margin-left:0
}
.ui_tabs .flat_button {
 margin-right:10px;
 line-height:11px
}
.ui_tabs .flat_button,.ui_tabs .side_link {
 float:right;
 margin-top:14px
}
.ui_tabs_fixed {
 position:fixed;
 top:0;
 z-index:200
}
body.mac .ui_tabs_fixed {
 -webkit-transform:translateZ(0);
 transform:translateZ(0)
}
.ui_tabs_fixed .ui_tabs_box {
 box-shadow:0 1px 2px 0 rgba(0,0,0,.08);
 border-color:#e3e7ef
}
.ui_box_header_cnt {
 font-size:14px;
 opacity:0.6;
 filter:alpha(opacity=60);
 padding:0 8px
}
a.ui_box_header_link {
 color:#000
}
.ui_tab,.ui_tab_plain {
 display:block;
 padding:16px 6px 15px;
 margin:0 4px -1px;
 outline:none
}
.ui_tab,.ui_tabs .ui_tab {
 color:#656565;
 float:left;
 -o-transition:color 0.2s ease;
 transition:color 0.2s ease;
 cursor:pointer
}
.ui_tab:hover,.ui_tabs .ui_tab:hover {
 text-decoration:none;
 border-bottom:2px solid #cad2db;
 padding-bottom:13px
}
.ui_tabs_box .ui_tab {
 color:#828282
}
.ui_tab_sel,.ui_tabs .ui_tab_sel,.ui_tabs_box .ui_tab_sel {
 color:#000
}
.ui_tab_sel,.ui_tab_sel:hover,.ui_tabs .ui_tab_sel,.ui_tabs .ui_tab_sel:hover,.ui_tabs_box .ui_tab_sel,.ui_tabs_box .ui_tab_sel:hover {
 border-bottom:2px solid #6387ac;
 padding-bottom:13px
}
.ui_tab_plain {
 float:right;
 color:#2a5885
}
.ui_tab_search {
 padding:17px 6px 14px
}
.ui_tab_search:after {
 content:'';
 display:inline;
 padding:5px 14px 5px 0;
 background:url(/images/search_icon.png) no-repeat;
 background-position:100%;
 opacity:0.75;
 filter:alpha(opacity=75)
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_tab_search:after {
  background-image:url(/images/search_icon_2x.png);
  background-size:14px 16px
 }
}
.ui_tab_search:hover:after {
 opacity:1;
 -webkit-filter:none;
 filter:none
}
.ui_tab_group {
 position:relative;
 border-bottom:none!important;
 padding-bottom:15px!important
}
.ui_tab_group:before {
 content:'';
 display:block;
 position:absolute;
 height:2px;
 top:100%;
 bottom:0;
 left:0;
 right:0;
 margin-top:-2px;
 background:#cad2db;
 opacity:0;
 filter:alpha(opacity=0);
 pointer-events:none
}
.ui_tab_group.ui_tab_group_sel:before {
 background:#6387ac;
 opacity:1;
 -webkit-filter:none;
 filter:none
}
.ui_tab_group.visible:before {
 z-index:5;
 opacity:1;
 -webkit-filter:none;
 filter:none
}
.ui_tab_group.shown {
 z-index:2
}
.ui_tab_group.shown .ui_tab_group_items {
 visibility:visible;
 opacity:1;
 -webkit-filter:none;
 filter:none;
 pointer-events:auto
}
.ui_tab_group:after {
 content:'';
 display:inline-block;
 margin:0 0 1px 5px;
 background:url(/images/icons/multidd.png?2) no-repeat 0 0;
 width:9px;
 height:5px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_tab_group:after {
  background-image:url(/images/icons/multidd_2x.png?2);
  background-size:10px 53px
 }
}
.ui_tabs_box .ui_tab_group,.ui_tabs_header .ui_tab_group,.ui_tabs_sub_header .ui_tab_group {
 padding-bottom:20px!important
}
.ui_tab_group_items {
 z-index:1;
 font-weight:400;
 -webkit-font-smoothing:subpixel-antialiased;
 -moz-osx-font-smoothing:auto;
 position:absolute;
 visibility:hidden;
 top:100%;
 left:0;
 margin-top:-1px;
 background:#fff;
 z-index:4;
 border:1px solid #c5d0db;
 padding:4px 0;
 border-radius:0 0 3px 3px;
 box-shadow:0 1px 3px rgba(0,0,0,.1);
 min-width:150px;
 max-width:250px;
 opacity:0;
 filter:alpha(opacity=0);
 -o-transition:opacity 100ms linear, visibility 100ms linear;
 transition:opacity 100ms linear, visibility 100ms linear;
 pointer-events:none
}
.ui_tabs .ui_tab_group_item {
 display:block;
 white-space:nowrap;
 position:relative;
 height:30px;
 line-height:30px;
 padding:0 15px;
 color:#2a5885
}
.ui_tabs .ui_tab_group_item:hover {
 text-decoration:none;
 background-color:#e4eaf0
}
.ui_tabs .ui_tab_group_item:hover .ui_actions_menu_hide {
 visibility:visible;
 opacity:0.75;
 filter:alpha(opacity=75)
}
.ui_tabs .ui_tab_group_item.ui_tab_sel {
 visibility:hidden;
 border:0;
 height:0;
 padding:0 15px
}
.ui_tab_group_separator {
 border-top:1px solid #dbe4ec;
 margin:4px 13px;
 display:block
}
.ui_tab_hide_separator .ui_tab_group_separator:last-of-type {
 display:none
}
.ui_box_search {
 display:block;
 background:url(/images/search_icon_popup_blue.png) no-repeat 12px 20px;
 width:14px;
 height:14px;
 padding:20px 12px;
 opacity:0.75;
 filter:alpha(opacity=75);
 cursor:pointer
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_box_search {
  background-image:url(/images/search_icon_popup_blue_2x.png);
  background-size:14px 15px
 }
}
.ui_box_search:hover {
 opacity:1;
 -webkit-filter:none;
 filter:none
}
.box_body .ui_box_search,.box_grey .ui_box_search {
 background-image:url(/images/search_icon_popup.png)
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .box_body .ui_box_search,.box_grey .ui_box_search {
  background-image:url(/images/search_icon_popup_2x.png);
  background-size:14px 15px
 }
}
.box_body .ui_box_search.ui_box_gift,.box_grey .ui_box_search.ui_box_gift {
 background:url(/images/icons/send_gift.png) no-repeat 12px 19px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .box_body .ui_box_search.ui_box_gift,.box_grey .ui_box_search.ui_box_gift {
  background-image:url(/images/icons/send_gift_2x.png);
  background-size:13px 15px
 }
}
.box_body .ui_box_search.ui_box_edit,.box_grey .ui_box_search.ui_box_edit {
 background-image:url(/images/icons/box_edit_icon.png)
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .box_body .ui_box_search.ui_box_edit,.box_grey .ui_box_search.ui_box_edit {
  background-image:url(/images/icons/box_edit_icon_2x.png);
  background-size:13px 13px
 }
}
.box_body .ui_box_search {
 position:absolute;
 top:0;
 right:49px;
 background-image:url(/images/search_icon_popup.png)
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .box_body .ui_box_search {
  background-image:url(/images/search_icon_popup_2x.png);
  background-size:14px 15px
 }
}
.ui_tabs_slider {
 position:absolute
}
.ui_tabs.ui_tabs_sliding .ui_tabs_slider {
 z-index:5;
 bottom:-1px;
 left:0;
 width:100px;
 height:2px;
 background-color:#6387ac;
 transition:width 0.2s ease, -webkit-transform 0.2s ease;
 -o-transition:width 0.2s ease, transform 0.2s ease, -o-transform 0.2s ease;
 transition:width 0.2s ease, transform 0.2s ease;
 transition:width 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease, -o-transform 0.2s ease
}
.ui_tabs.ui_tabs_sliding .ui_tab_sel {
 border-bottom:2px solid #cad2db
}
.ui_tabs.ui_tabs_sliding .ui_tab_group_sel:before {
 background:#cad2db
}
.ui_tabs_header,.ui_tabs_sub_header {
 font-size:14px;
 border-radius:2px 2px 0 0
}
.ui_tabs_header {
 background-color:#fafbfc
}
.ui_tabs_box .ui_tab,.ui_tabs_box .ui_tab_sel,.ui_tabs_header .ui_tab,.ui_tabs_header .ui_tab_plain,.ui_tabs_header .ui_tab_sel,.ui_tabs_sub_header .ui_tab,.ui_tabs_sub_header .ui_tab_plain,.ui_tabs_sub_header .ui_tab_sel {
 padding:18px 6px 20px;
 line-height:17px;
 height:17px
}
.ui_tabs_box .ui_tab:hover,.ui_tabs_box .ui_tab_sel,.ui_tabs_header .ui_tab:hover,.ui_tabs_header .ui_tab_sel,.ui_tabs_sub_header .ui_tab:hover,.ui_tabs_sub_header .ui_tab_sel {
 padding-bottom:18px
}
.ui_tabs_progress {
 display:none;
 background:url(/images/c_upload.gif) 6px 50% no-repeat;
 width:16px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_tabs_progress {
  background-image:url(/images/c_upload_2x.gif);
  background-size:16px 16px
 }
}
.ui_tabs_progress:after {
 content:".";
 height:0;
 visibility:hidden
}
.ui_tabs_loading .ui_tabs_progress {
 display:block
}
.ui_tabs_loading .flat_button {
 display:none
}
.ui_tab_count {
 padding-left:6px;
 font-size:13px;
 color:#939393
}
.ui_tab_count.ui_tab_count_red {
 display:inline-block;
 background:#f05c44;
 color:#fff;
 font-size:11px;
 font-weight:500;
 line-height:18px;
 height:18px;
 min-width:18px;
 padding:0 5px;
 margin-left:6px;
 border-radius:9px;
 vertical-align:top;
 text-align:center;
 box-sizing:border-box
}
.ui_tab_count.ui_tab_count_hidden {
 opacity:0;
 filter:alpha(opacity=0)
}
.ui_tabs_box .ui_tab_count {
 color:#656565
}
.ui_tabs_box .ui_tab_sel .ui_tab_count {
 color:#000
}
.ui_crumb {
 display:inline;
 white-space:nowrap;
 overflow:hidden;
 text-overflow:ellipsis;
 line-height:54px;
 height:54px
}
a.ui_crumb {
 color:#656565
}
.ui_crumb_sep {
 display:inline;
 padding-left:6px;
 font-size:9px;
 margin:23px 10px 21px 12px;
 position:relative;
 top:-2px;
 background:url(/images/icons/breadcrumbs.png) -6px 0 no-repeat
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_crumb_sep {
  background-image:url(/images/icons/breadcrumbs_2x.png);
  background-size:12px 11px
 }
}
.ui_crumb_count {
 padding-left:7px;
 font-size:14px;
 color:#939393;
 display:inline-block
}
.ui_header_ext_search {
 float:right;
 font-size:13px;
 background:url(/images/icons/advanced_search.png?2) no-repeat;
 background-position:left 22px;
 padding-left:25px;
 line-height:54px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_header_ext_search {
  background-image:url(/images/icons/advanced_search_2x.png?2);
  background-size:15px 12px
 }
}
.ui_rmenu {
 padding:6px 0;
 position:relative
}
.ui_rmenu_item,.ui_rmenu_subitem {
 display:block;
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap;
 height:32px;
 line-height:31px;
 padding:0 5px 0 20px;
 color:#2a5885;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none;
 outline:none;
 cursor:pointer
}
.ui_rmenu_item.unshown,.ui_rmenu_subitem.unshown {
 display:none
}
.ui_rmenu_item:hover,.ui_rmenu_subitem:hover,.ui_rmenu_item_sel,.ui_rmenu_item_sel:hover {
 text-decoration:none;
 background-color:#f0f2f5
}
.ui_rmenu_item_sel,.ui_rmenu_item_sel:hover {
 color:#000;
 font-weight:500;
 -webkit-font-smoothing:subpixel-antialiased;
 -moz-osx-font-smoothing:auto;
 padding-left:18px;
 border-left:2px solid #6285af
}
.ui_rmenu_item_hidden {
 display:none
}
.ui_rmenu_item_arrow {
 display:inline-block;
 margin:0 0 1px 5px;
 background:url(/images/icons/multidd.png?2) no-repeat 0 0;
 width:9px;
 height:5px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_rmenu_item_arrow {
  background-image:url(/images/icons/multidd_2x.png?2);
  background-size:10px 53px
 }
}
.ui_rmenu_item_expanded .ui_rmenu_item_arrow {
 background-position:left -11px
}
.ui_rmenu_subitem {
 padding:0 5px 0 28px;
 color:#656565
}
.ui_rmenu_subitem.ui_rmenu_item_sel,.ui_rmenu_subitem.ui_rmenu_item_sel:hover {
 color:#000;
 padding-left:26px
}
.ui_rmenu_extra_label {
 float:right;
 padding-right:15px;
 color:#656565;
 font-size:12px
}
.ui_rmenu_loading_item .ui_rmenu_extra_label {
 display:none
}
.ui_rmenu_extra_label_onhover {
 -o-transition:opacity 150ms linear;
 transition:opacity 150ms linear;
 opacity:0
}
.ui_rmenu_item:hover .ui_rmenu_extra_label_onhover {
 opacity:1
}
.ui_rmenu_slider {
 position:absolute
}
.ui_rmenu_sliding .ui_rmenu_slider {
 top:0;
 position:absolute;
 left:0;
 border:none;
 height:32px;
 width:2px;
 background-color:#6285af;
 transition:margin-top 0.2s ease, -webkit-transform 0.2s ease;
 -o-transition:margin-top 0.2s ease, transform 0.2s ease, -o-transform 0.2s ease;
 transition:margin-top 0.2s ease, transform 0.2s ease;
 transition:margin-top 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease, -o-transform 0.2s ease;
 z-index:1
}
.ui_rmenu_sliding .ui_rmenu_item_sel {
 padding-left:20px;
 border-left:none
}
.ui_rmenu_sliding .ui_rmenu_subitem.ui_rmenu_item_sel {
 padding-left:28px
}
.ui_rmenu_pr.ui_rmenu_loading .ui_rmenu_item_sel .ui_calendar_icon,.ui_rmenu_pr.ui_rmenu_loading .ui_rmenu_item_sel .ui_rmenu_count {
 display:none
}
.ui_rmenu_pr.ui_rmenu_loading .ui_rmenu_item_sel .pr {
 float:right;
 margin:14px 6px 0px 0px
}
.ui_rmenu_sep {
 border-top:1px solid #e7e8ec;
 margin:6px 15px
}
.ui_rmenu_count {
 display:inline-block;
 float:right;
 font-weight:400;
 -webkit-font-smoothing:subpixel-antialiased;
 -moz-osx-font-smoothing:auto;
 text-align:center;
 margin:7px 10px 0 0;
 padding:1px 6px;
 border-radius:10px;
 background-color:#7394b5;
 font-size:11px;
 height:16px;
 line-height:17px;
 min-width:6px;
 color:#fff
}
body.sf .ui_rmenu_count {
 line-height:16px
}
.ui_rmenu_count.unshown,.ui_rmenu_count:empty {
 display:none
}
.ui_rmenu_count.ui_rmenu_count_grey {
 background:none;
 border-radius:0;
 color:#777e8c;
 font-size:13px
}
.ui_calendar_icon {
 float:right;
 margin:7px 10px 0 0;
 width:15px;
 height:15px;
 background:url(/images/icons/calendar.png?2) no-repeat 0 0;
 opacity:0.75;
 filter:alpha(opacity=75)
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_calendar_icon {
  background-image:url(/images/icons/calendar_2x.png?2);
  background-size:15px 15px
 }
}
.ui_calendar_icon:hover {
 opacity:1;
 -webkit-filter:none;
 filter:none
}
.ui_search_custom_ctrl .ui_calendar_icon {
 margin:14px 0 0;
 cursor:pointer;
 position:relative
}
.ui_ownblock {
 display:block;
 padding:9px 15px
}
.ui_ownblock:hover {
 text-decoration:none;
 background-color:#f0f2f5
}
.ui_ownblock_img {
 float:left;
 width:34px;
 height:34px;
 border-radius:50%;
 margin-right:10px
}
.ui_ownblock_info {
 white-space:nowrap;
 font-size:12.5px;
 line-height:16px
}
.ui_ownblock_label {
 color:#2a5885;
 padding-top:2px
}
.ui_ownblock_label,.ui_ownblock_hint {
 overflow:hidden;
 text-overflow:ellipsis
}
.ui_ownblock_hint {
 color:#777e8c
}
.ui_filters_block {
 padding:7px 15px 5px
}
.ui_filters_sibling {
 margin-top:1px;
 border-radius:0 0 2px 2px
}
.ui_search {
 border-bottom:1px solid #e7e8ec;
 background-color:#fff;
 position:relative
}
.ui_search.ui_search_fixed {
 position:fixed;
 top:0;
 z-index:119;
 box-shadow:0 2px 3px -1px rgba(0,0,0,.12);
 border-color:#fff
}
body.mac .ui_search.ui_search_fixed {
 -webkit-transform:translateZ(0);
 transform:translateZ(0)
}
.ui_search.ui_search_new {
 margin:15px;
 border-bottom:none
}
.ui_search_input_block {
 position:relative
}
.page_block .ui_search.ui_search_fixed {
 top:42px
}
.page_block>.ui_search:first-child {
 border-radius:2px 2px 0 0
}
input.ui_search_field,input.ui_search_field~.placeholder .ph_input {
 padding:14px 44px 13px 48px;
 box-sizing:border-box;
 width:100%;
 border:none;
 margin:0;
 line-height:18px
}
input.ui_search_field {
 background:url(/images/search_icon.png) no-repeat;
 -ms-high-contrast-adjust:auto;
 padding-left:28px;
 border-left:20px solid transparent;
 background-position:0;
 color:#000
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 input.ui_search_field {
  background-image:url(/images/search_icon_2x.png);
  background-size:14px 16px
 }
}
input.ui_search_field::-webkit-input-placeholder {
 color:#929eb0;
 -o-transition:color 0.2s ease;
 transition:color 0.2s ease
}
input.ui_search_field::-moz-placeholder,input.ui_search_field:-moz-placeholder {
 color:#929eb0;
 -o-transition:color 0.2s ease;
 transition:color 0.2s ease
}
input.ui_search_field:-ms-input-placeholder {
 color:#929eb0;
 -o-transition:color 0.2s ease;
 transition:color 0.2s ease
}
input.ui_search_field~.placeholder .ph_content {
 color:#929eb0;
 -o-transition:color 0.2s ease;
 transition:color 0.2s ease
}
input.ui_search_field:focus::-webkit-input-placeholder {
 color:#c0c8d0
}
input.ui_search_field:focus::-moz-placeholder,input.ui_search_field:focus:-moz-placeholder {
 color:#c0c8d0
}
input.ui_search_field:focus:-ms-input-placeholder {
 color:#c0c8d0
}
input.ui_search_field:focus~.placeholder .ph_content {
 color:#c0c8d0
}
.box_body input.ui_search_field {
 padding:14px 49px 13px 53px;
 padding-left:28px;
 border-left:25px solid transparent;
 background-position:0
}
.box_body input.ui_search_field~.placeholder .ph_input {
 padding:14px 49px 13px 53px
}
.ui_search_suggester_shadow {
 position:absolute;
 pointer-events:none;
 line-height:35px;
 display:none;
 color:#c5c5c5;
 margin-left:0.5px;
 height:100%;
 padding-left:12px
}
.mac.firefox .ui_search_suggester_shadow {
 line-height:34px
}
.ui_search_suggester_shadow .ui_search_suggester_shadow_hidden {
 color:transparent
}
.is_rtl1 .ui_search_suggester_shadow {
 display:none!important
}
.ui_search_new .ui_search_input_block {
 overflow:hidden
}
.ui_search_new .ui_search_input_inner {
 border:1px solid #d3d9de;
 border-right:none;
 border-radius:2px 0 0 2px;
 overflow:hidden;
 position:relative
}
.box_body .ui_search_new input.ui_search_field,.box_body .ui_search_new input.ui_search_field~.placeholder .ph_input,.ui_search_new input.ui_search_field,.ui_search_new input.ui_search_field~.placeholder .ph_input {
 background:none;
 padding:8px 70px 8px 12px;
 height:34px;
 border:0
}
.ui_search_new .ui_search_progress {
 display:none!important;
 background-image:url(/images/c_upload.gif);
 width:16px;
 height:16px;
 pointer-events:none;
 background-repeat:no-repeat;
 background-position:0 9px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_search_new .ui_search_progress {
  background-image:url(/images/c_upload_2x.gif);
  background-size:16px 16px
 }
}
.ui_search_new.ui_search_loading .ui_search_progress {
 display:block!important
}
.ui_search_new.ui_search_loading .ui_search_controls {
 display:none
}
.ui_search_new.ui_search_field_empty .ui_search_controls {
 pointer-events:none
}
.ui_search_new .ui_search_button_search {
 background:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%221284%20207%2024%2024%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1298.5%20222.9C1297.5%20223.6%201296.3%20224%201295%20224%201291.7%20224%201289%20221.3%201289%20218%201289%20214.7%201291.7%20212%201295%20212%201298.3%20212%201301%20214.7%201301%20218%201301%20219.3%201300.6%20220.5%201299.9%20221.5L1302.7%20224.2C1303%20224.6%201303.1%20225.3%201302.7%20225.7%201302.3%20226%201301.6%20226%201301.2%20225.7L1298.5%20222.9ZM1295%20222C1297.2%20222%201299%20220.2%201299%20218%201299%20215.8%201297.2%20214%201295%20214%201292.8%20214%201291%20215.8%201291%20218%201291%20220.2%201292.8%20222%201295%20222Z%22%20fill%3D%22%239299A6%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") #f0f2f5 no-repeat 50%;
 width:48px;
 height:36px;
 outline:none;
 padding:0;
 margin:0;
 float:right;
 border:1px solid #d3d9de;
 border-radius:0 2px 2px 0;
 cursor:pointer
}
.ui_search_new .ui_search_button_search:hover {
 background:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%221284%20207%2024%2024%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1298.5%20222.9C1297.5%20223.6%201296.3%20224%201295%20224%201291.7%20224%201289%20221.3%201289%20218%201289%20214.7%201291.7%20212%201295%20212%201298.3%20212%201301%20214.7%201301%20218%201301%20219.3%201300.6%20220.5%201299.9%20221.5L1302.7%20224.2C1303%20224.6%201303.1%20225.3%201302.7%20225.7%201302.3%20226%201301.6%20226%201301.2%20225.7L1298.5%20222.9ZM1295%20222C1297.2%20222%201299%20220.2%201299%20218%201299%20215.8%201297.2%20214%201295%20214%201292.8%20214%201291%20215.8%201291%20218%201291%20220.2%201292.8%20222%201295%20222Z%22%20fill%3D%22%239198A5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") #e9ebf0 no-repeat 50%
}
.ui_search_new.ui_search_btn_large .ui_search_button_search {
 width:60px
}
.ui_search_new.ui_search_field_empty .ui_search_button_search {
 background:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%221284%20207%2024%2024%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1298.5%20222.9C1297.5%20223.6%201296.3%20224%201295%20224%201291.7%20224%201289%20221.3%201289%20218%201289%20214.7%201291.7%20212%201295%20212%201298.3%20212%201301%20214.7%201301%20218%201301%20219.3%201300.6%20220.5%201299.9%20221.5L1302.7%20224.2C1303%20224.6%201303.1%20225.3%201302.7%20225.7%201302.3%20226%201301.6%20226%201301.2%20225.7L1298.5%20222.9ZM1295%20222C1297.2%20222%201299%20220.2%201299%20218%201299%20215.8%201297.2%20214%201295%20214%201292.8%20214%201291%20215.8%201291%20218%201291%20220.2%201292.8%20222%201295%20222Z%22%20fill%3D%22%239299A6%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") #f0f2f5 no-repeat 50%
}
.ui_search_new .ui_search_controls,.ui_search_new .ui_search_progress {
 position:absolute;
 right:10px;
 height:100%;
 pointer-events:all;
 display:block
}
.ui_search_new .ui_search_controls:after,.ui_search_new .ui_search_progress:after {
 content:'.';
 display:block;
 height:0;
 font-size:0;
 line-height:0;
 clear:both;
 visibility:hidden
}
* html .ui_search_new .ui_search_controls,* html .ui_search_new .ui_search_progress {
 height:1%
}
.ui_search_new .ui_search_progress {
 right:16px
}
.ui_search_new .ui_search_button_control {
 border:none;
 outline:none;
 width:30px;
 height:100%;
 cursor:pointer;
 padding:0;
 margin:0;
 float:right;
 transition:opacity 50ms linear, margin 100ms ease, -webkit-transform 60ms linear;
 -o-transition:opacity 50ms linear, margin 100ms ease, transform 60ms linear, -o-transform 60ms linear;
 transition:opacity 50ms linear, margin 100ms ease, transform 60ms linear;
 transition:opacity 50ms linear, margin 100ms ease, transform 60ms linear, -webkit-transform 60ms linear, -o-transform 60ms linear
}
.ui_search_new .ui_search_button_control:active {
 position:relative;
 top:1px
}
.ui_search_new .ui_search_button_control:hover {
 opacity:1
}
.ui_search_new.ui_search_field_empty .ui_search_button_control {
 margin-left:-5px
}
.ui_search_new .ui_search_params_button,.ui_search_new .ui_search_reset_button {
 opacity:0.7;
 pointer-events:all
}
.ui_search_new .ui_search_params_button:hover,.ui_search_new .ui_search_reset_button:hover {
 opacity:1
}
.ui_search_new .ui_search_params_button {
 background:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%221284%20183%2024%2024%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1301%20197L1301%20195%201299%20195%201299%20197%201288%20197%201288%20199%201299%20199%201299%20201%201301%20201%201301%20199%201304%20199%201304%20197%201301%20197ZM1291%20191L1288%20191%201288%20193%201291%20193%201291%20195%201293%20195%201293%20193%201304%20193%201304%20191%201293%20191%201293%20189%201291%20189%201291%20191Z%22%20fill%3D%22%23828A99%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") transparent no-repeat 50%
}
.ui_search_new .ui_search_reset_button {
 background:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%221284%20159%2024%2024%22%20style%3D%22%22%3E%3Cg%20style%3D%22stroke-width%3A2%3Bstroke%3A%23828A99%22%3E%3Cpath%20d%3D%22M1301%20176L1291%20166%22%2F%3E%3Cpath%20d%3D%22M1291%20176L1301%20166%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") transparent no-repeat 50%
}
.ui_search_new.ui_search_field_empty .ui_search_params_button,.ui_search_new.ui_search_field_empty .ui_search_reset_button {
 opacity:0;
 pointer-events:none
}
.ui_search_new .ui_search_button {
 background:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%221284%20207%2024%2024%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1298.5%20222.9C1297.5%20223.6%201296.3%20224%201295%20224%201291.7%20224%201289%20221.3%201289%20218%201289%20214.7%201291.7%20212%201295%20212%201298.3%20212%201301%20214.7%201301%20218%201301%20219.3%201300.6%20220.5%201299.9%20221.5L1302.7%20224.2C1303%20224.6%201303.1%20225.3%201302.7%20225.7%201302.3%20226%201301.6%20226%201301.2%20225.7L1298.5%20222.9ZM1295%20222C1297.2%20222%201299%20220.2%201299%20218%201299%20215.8%201297.2%20214%201295%20214%201292.8%20214%201291%20215.8%201291%20218%201291%20220.2%201292.8%20222%201295%20222Z%22%20fill%3D%22%23ffffff%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") #f0f2f5 no-repeat 50%;
 border-left:1px solid #f0f2f5;
 pointer-events:all;
 width:43px
}
.ui_search_new.ui_search_field_empty .ui_search_button {
 background:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%221284%20207%2024%2024%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1298.5%20222.9C1297.5%20223.6%201296.3%20224%201295%20224%201291.7%20224%201289%20221.3%201289%20218%201289%20214.7%201291.7%20212%201295%20212%201298.3%20212%201301%20214.7%201301%20218%201301%20219.3%201300.6%20220.5%201299.9%20221.5L1302.7%20224.2C1303%20224.6%201303.1%20225.3%201302.7%20225.7%201302.3%20226%201301.6%20226%201301.2%20225.7L1298.5%20222.9ZM1295%20222C1297.2%20222%201299%20220.2%201299%20218%201299%20215.8%201297.2%20214%201295%20214%201292.8%20214%201291%20215.8%201291%20218%201291%20220.2%201292.8%20222%201295%20222Z%22%20fill%3D%22%23BCC0C9%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") #f0f2f5 no-repeat 50%;
 pointer-events:none;
 border-left:1px solid #d3d9de
}
.ui_search_reset {
 position:absolute;
 width:38px;
 background:url(/images/cross.png) no-repeat 50%;
 top:0;
 bottom:0;
 right:6px;
 cursor:pointer;
 z-index:4;
 opacity:0.75;
 filter:alpha(opacity=75)
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_search_reset {
  background-image:url(/images/cross_2x.png);
  background-size:10px 10px
 }
}
.ui_search_reset:hover {
 opacity:1;
 -webkit-filter:none;
 filter:none
}
.box_body .ui_search_reset {
 top:0;
 bottom:0;
 right:11px
}
.ui_search_field_empty .ui_search_reset {
 visibility:hidden;
 opacity:0;
 filter:alpha(opacity=0)
}
.ui_search_params_wrap {
 padding:15px
}
.ui_search_sugg_list {
 padding:5px 0;
 border:1px solid #c5d0db;
 border-top:1px solid #dde3e8;
 margin-top:-1px;
 position:absolute;
 width:100%;
 box-sizing:border-box;
 background-color:#fff;
 z-index:101;
 box-shadow:0px 1px 3px 0px rgba(0,0,0,.12);
 border-radius:0 0 3px 3px;
 display:none;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
.ui_search_sugg_list .ui_search_sugg_history_header {
 padding:5px 12px;
 color:#9a9a9a
}
.ui_search_sugg_list .ui_search_sugg_list_item {
 padding:7px 12px;
 font-weight:500;
 -webkit-font-smoothing:subpixel-antialiased;
 -moz-osx-font-smoothing:auto;
 cursor:pointer
}
.ui_search_sugg_list .ui_search_sugg_list_item em {
 font-weight:400;
 font-style:normal
}
.ui_search_sugg_list .ui_search_suggestion_selected {
 background-color:#e5ebf1
}
.ui_search_sugg_list .ui_search_sugg_list_item_history {
 font-weight:400;
 overflow:hidden;
 text-overflow:ellipsis
}
.ui_search_sugg_list .ui_search_sugg_list_item_remove {
 float:right;
 opacity:1;
 font-weight:400;
 display:none
}
.ui_search_sugg_list .ui_search_sugg_list_item:hover .ui_search_sugg_list_item_remove {
 display:inline
}
.ui_tab_search_wrap .ui_search {
 position:absolute;
 top:0;
 left:0;
 right:0;
 border-radius:2px 2px 0 0;
 display:none
}
.ui_tabs_search_opened .ui_tab_search_wrap .ui_search {
 display:block
}
.ui_tab_search_wrap .ui_search_reset {
 visibility:visible;
 opacity:0.75;
 filter:alpha(opacity=75)
}
.ui_tab_search_wrap .ui_search_reset:hover,.ui_search_loading .ui_search_reset {
 opacity:1;
 -webkit-filter:none;
 filter:none
}
.ui_search_loading .ui_search_reset {
 background-image:url(/images/c_upload.gif);
 -o-transition:none;
 transition:none;
 visibility:visible
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_search_loading .ui_search_reset {
  background-image:url(/images/c_upload_2x.gif);
  background-size:16px 16px
 }
}
.ui_search_custom_ctrl {
 position:absolute;
 top:0;
 bottom:0;
 right:20px
}
.box_body .ui_search_custom_ctrl {
 top:0;
 bottom:0;
 right:25px
}
.ui_search_custom .ui_search_reset {
 display:none
}
.ui_search_custom.ui_search_loading .ui_search_reset {
 display:block
}
.ui_search_custom.ui_search_loading .ui_search_custom_ctrl {
 display:none
}
.ui_search_custom input.ui_search_field {
 padding-right:140px
}
.ui_search_new.ui_search_dark .ui_search_input_inner {
 border:none;
 background-color:#eef0f3
}
.ui_search_new.ui_search_dark .ui_search_button_search {
 border:none;
 background:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%221284%20207%2024%2024%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M1298.5%20222.9C1297.5%20223.6%201296.3%20224%201295%20224%201291.7%20224%201289%20221.3%201289%20218%201289%20214.7%201291.7%20212%201295%20212%201298.3%20212%201301%20214.7%201301%20218%201301%20219.3%201300.6%20220.5%201299.9%20221.5L1302.7%20224.2C1303%20224.6%201303.1%20225.3%201302.7%20225.7%201302.3%20226%201301.6%20226%201301.2%20225.7L1298.5%20222.9ZM1295%20222C1297.2%20222%201299%20220.2%201299%20218%201299%20215.8%201297.2%20214%201295%20214%201292.8%20214%201291%20215.8%201291%20218%201291%20220.2%201292.8%20222%201295%20222Z%22%20fill%3D%22%239CAAB9%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") #eef0f3 no-repeat 50%
}
.ui_search_new.ui_search_dark .ui_search_field,.ui_search_new.ui_search_dark .ui_search_field~.placeholder .ph_input {
 height:36px;
 padding:9px 12px
}
.ui_search_new.ui_search_dark .ui_search_controls,.ui_search_custom_empty .ui_search_custom_ctrl {
 display:none
}
.ui_search_custom_empty.ui_search_field_empty .ui_search_custom_ctrl {
 display:block
}
.ui_search_custom_order {
 margin:11px -5px;
 float:right
}
.ui_search_custom_sort {
 margin:14px 18px 13px;
 float:right;
 line-height:18px
}
.ui_search_custom_link {
 color:#2a5885
}
.ui_search_custom_link .idd_selected_value:hover {
 text-decoration:underline
}
.ui_search_custom_link.idd_wrap .idd_arrow {
 background-image:url(/images/icons/dd_arrow.png);
 background-position:right 5px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_search_custom_link.idd_wrap .idd_arrow {
  background-image:url(/images/icons/dd_arrow_2x.png);
  background-size:8px 4px
 }
}
.ui_search_custom_link .idd_popup .idd_header.idd_arrow {
 background-image:url(/images/icons/dd_arrow.png);
 background-position:right 12px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_search_custom_link .idd_popup .idd_header.idd_arrow {
  background-image:url(/images/icons/dd_arrow_2x.png);
  background-size:8px 4px
 }
}
a.ui_search_custom_link {
 padding-right:17px;
 background:url(/images/icons/dd_arrow.png) no-repeat right 7px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 a.ui_search_custom_link {
  background-image:url(/images/icons/dd_arrow_2x.png);
  background-size:8px 4px
 }
}
.ui_search_fltr_ext_link {
 padding:14px 0 13px 25px;
 background:url(/images/icons/advanced_search.png?2) no-repeat;
 background-position:left 18px;
 line-height:19px;
 font-size:12.5px;
 display:block
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_search_fltr_ext_link {
  background-image:url(/images/icons/advanced_search_2x.png?2);
  background-size:15px 12px
 }
}
.ui_search_fltr_control {
 padding:14px 15px 13px;
 line-height:19px;
 font-size:12.5px;
 display:block;
 background:url(/images/svg_icons/contour_arrow.svg) no-repeat;
 background-position:right 22px;
 -ms-high-contrast-adjust:auto
}
.ui_search_fltr {
 font-size:13px;
 position:relative;
 position:absolute;
 visibility:hidden;
 opacity:0;
 filter:alpha(opacity=0);
 top:47px;
 right:-25px;
 background:#fff;
 z-index:4;
 border:1px solid #c5d0db;
 padding:14px 16px;
 border-radius:3px;
 box-shadow:0 1px 3px rgba(0,0,0,.1);
 -o-transition:opacity 100ms linear, top 100ms linear, visibility 100ms linear;
 transition:opacity 100ms linear, top 100ms linear, visibility 100ms linear;
 pointer-events:none;
 color:#000;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
.ui_search_fltr:after,.ui_search_fltr:before {
 position:absolute;
 pointer-events:none;
 border:solid transparent;
 content:'';
 height:0;
 width:0;
 bottom:100%;
 right:29px
}
.ui_search_fltr:before {
 border-width:6px;
 margin:0 -6px;
 border-bottom-color:#c5d0db
}
.ui_search_fltr:after {
 border-width:5px;
 margin:0 -5px;
 border-bottom-color:#fff
}
.ui_search_fltr b {
 color:#000
}
.ui_search_fltr_control.shown {
 text-decoration:none
}
.ui_search_fltr_control.shown .ui_search_fltr {
 visibility:visible;
 opacity:1;
 -webkit-filter:none;
 filter:none;
 top:37px;
 pointer-events:auto
}
.ui_search_fltr_progress {
 margin-top:2px;
 width:32px;
 height:8px;
 background:url(/images/upload.gif) no-repeat;
 display:none
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_search_fltr_progress {
  background-image:url(/images/upload_2x.gif);
  background-size:32px 8px
 }
}
.ui_search_fltr_label {
 cursor:default;
 color:#222;
 font-weight:500;
 -webkit-font-smoothing:subpixel-antialiased;
 -moz-osx-font-smoothing:auto;
 padding-bottom:9px
}
.ui_search_fltr_sel {
 padding:0 0 18px
}
.ui_search_fltr_field {
 width:200px
}
.ui_search_fltr_short_field {
 width:90px
}
.ui_search_fltr_sep {
 float:left;
 line-height:27px;
 text-align:center;
 width:20px
}
.ui_search_fltr_sel .radiobtn {
 display:block;
 padding-bottom:8px
}
.ui_search_fltr_sel .radiobtn:last-child,.ui_search_fltr_last {
 padding-bottom:0
}
.ui_search_input_block .ui_multiselect_cnt .token {
 float:none;
 display:inline-block;
 margin:7px 5px 0 0;
 position:relative;
 top:-7px
}
.ui_search_input_block .ui_multiselect_cnt .token .token_title {
 text-transform:none
}
.ui_multiselect_cnt .token,.ui_search_filters_pane .token {
 float:left;
 margin:0 5px 0 0;
 background-color:#dae2ea;
 border-radius:2px;
 cursor:pointer
}
.ui_multiselect_cnt .token .token_title,.ui_search_filters_pane .token .token_title {
 display:inline-block;
 vertical-align:top;
 color:#55677d;
 font-size:12.5px;
 line-height:18px;
 padding:4px 6px 3px 11px
}
.ui_multiselect_cnt .token .token_del,.ui_search_filters_pane .token .token_del {
 display:inline-block;
 vertical-align:top;
 background-image:url(/images/icons/tag_cross.png);
 width:10px;
 height:10px;
 padding:7px 5px;
 background-repeat:no-repeat;
 background-position:0;
 margin-left:2px;
 opacity:0.6;
 filter:alpha(opacity=60);
 -o-transition:opacity 0.2s ease;
 transition:opacity 0.2s ease
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_multiselect_cnt .token .token_del,.ui_search_filters_pane .token .token_del {
  background-image:url(/images/icons/tag_cross_2x.png);
  background-size:10px 10px
 }
}
.ui_multiselect_cnt .token:hover .token_del,.ui_search_filters_pane .token:hover .token_del {
 opacity:1;
 -webkit-filter:none;
 filter:none
}
.ui_multiselect_cnt .token:active .token_del,.ui_search_filters_pane .token:active .token_del {
 position:relative;
 top:1px
}
.ui_search_filters_pane {
 padding:7px 0;
 padding-top:0;
 padding-bottom:0;
 position:relative;
 border-top:1px solid #e7e8ec;
 display:none;
 opacity:0;
 filter:alpha(opacity=0);
 max-height:0px;
 overflow:hidden;
 -o-transition:all 100ms linear;
 transition:all 100ms linear
}
.ui_search_filters_pane.expanded {
 max-height:60px;
 opacity:1;
 -webkit-filter:none;
 filter:none;
 padding:7px 0
}
.ui_search_filters_reset {
 position:absolute;
 width:38px;
 background:url(/images/cross.png) no-repeat 50%;
 top:0;
 bottom:0;
 right:6px;
 cursor:pointer;
 opacity:0.75;
 filter:alpha(opacity=75)
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_search_filters_reset {
  background-image:url(/images/cross_2x.png);
  background-size:10px 10px
 }
}
.ui_search_filters_reset:hover {
 opacity:1;
 -webkit-filter:none;
 filter:none
}
.ui_search_new .ui_search_filters_pane {
 margin:0;
 padding:0;
 position:relative;
 opacity:0;
 filter:alpha(opacity=0);
 max-height:0;
 overflow:hidden;
 -o-transition:max-height 200ms linear, margin 140ms linear, opacity 140ms linear;
 transition:max-height 200ms linear, margin 140ms linear, opacity 140ms linear;
 border-top:none
}
.ui_search_new .ui_search_filters_pane.expanded {
 margin:7px 0;
 max-height:24px;
 opacity:1;
 -webkit-filter:none;
 filter:none
}
.prefix_input_wrap {
 position:relative;
 cursor:text;
 height:30px;
 line-height:16px;
 background-color:#fff
}
.prefix_input_prefix {
 padding:5px 9px 7px;
 padding-right:0;
 margin-top:1px;
 position:relative;
 float:left;
 z-index:2;
 color:#828282;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
.prefix_input_field {
 overflow:hidden;
 margin-right:1px;
 white-space:nowrap
}
.prefix_input {
 padding:5px 9px 7px;
 padding-left:0;
 margin-top:1px;
 height:28px;
 position:relative;
 z-index:2;
 width:100%;
 box-sizing:border-box;
 border:none;
 background-color:transparent
}
.prefix_input_border {
 position:absolute;
 top:0;
 bottom:0;
 left:0;
 right:0;
 z-index:1;
 border:1px solid #d3d9de
}
.prefix_input:focus+.prefix_input_border {
 border-color:#c9d0d6
}
.prefix_big_text {
 height:35px;
 font-size:14px
}
.prefix_big_text .prefix_input_prefix {
 padding:6px 12px 8px;
 padding-right:0;
 line-height:19px
}
.prefix_big_text .prefix_input {
 padding:6px 12px 8px;
 padding-left:0;
 font-size:14px;
 height:33px;
 line-height:19px
}
.prefix_big_text .prefix_input_border {
 border-radius:3px
}
.ui_actions_menu_wrap {
 cursor:pointer
}
.ui_actions_menu_wrap.shown .ui_actions_menu {
 visibility:visible;
 opacity:1;
 -webkit-filter:none;
 filter:none;
 display:block!important;
 top:41px;
 pointer-events:auto
}
.ui_actions_menu_wrap.shown.ads_edit_geo_place_radius_selector_wrap .ui_actions_menu {
 top:17px
}
.ui_actions_menu_wrap.ui_actions_menu_top .ui_actions_menu {
 top:auto!important
}
.ui_actions_menu_wrap.ui_actions_menu_top.shown .ui_actions_menu {
 bottom:41px
}
.ui_actions_menu_wrap.ui_actions_menu_left .ui_actions_menu {
 right:auto;
 left:100%
}
.ui_actions_menu_wrap.ui_actions_menu_left .ui_actions_menu:after,.ui_actions_menu_wrap.ui_actions_menu_left .ui_actions_menu:before {
 right:auto;
 left:30.5px
}
.ui_actions_menu_wrap .ui_actions_menu_sublist {
 display:none
}
.ui_actions_menu_wrap .ui_actions_menu_sublist.shown {
 display:block
}
.ui_actions_menu {
 position:relative;
 font-weight:400;
 -webkit-font-smoothing:subpixel-antialiased;
 -moz-osx-font-smoothing:auto;
 position:absolute;
 visibility:hidden;
 min-width:150px;
 max-width:250px;
 top:51px;
 right:-4px;
 background:#fff;
 z-index:4;
 border:1px solid #c5d0db;
 padding:4px 0;
 border-radius:3px;
 box-shadow:0 1px 3px rgba(0,0,0,.1);
 opacity:0;
 filter:alpha(opacity=0);
 -o-transition:opacity 100ms linear, top 100ms linear, bottom 100ms linear, visibility 100ms linear;
 transition:opacity 100ms linear, top 100ms linear, bottom 100ms linear, visibility 100ms linear;
 pointer-events:none
}
.ui_actions_menu:after,.ui_actions_menu:before {
 position:absolute;
 pointer-events:none;
 border:solid transparent;
 content:'';
 height:0;
 width:0;
 bottom:100%;
 right:30.5px
}
.ui_actions_menu:before {
 border-width:6px;
 margin:0 -6px;
 border-bottom-color:#c5d0db
}
.ui_actions_menu:after {
 border-width:5px;
 margin:0 -5px;
 border-bottom-color:#fff
}
.ui_actions_menu_top .ui_actions_menu {
 top:initial!important;
 bottom:51px;
 position:relative;
 position:absolute
}
.ui_actions_menu_top .ui_actions_menu:after,.ui_actions_menu_top .ui_actions_menu:before {
 position:absolute;
 pointer-events:none;
 border:solid transparent;
 content:'';
 height:0;
 width:0;
 top:100%;
 right:30.5px
}
.ui_actions_menu_top .ui_actions_menu:before {
 border-width:6px;
 margin:0 -6px;
 border-top-color:#c5d0db
}
.ui_actions_menu_top .ui_actions_menu:after {
 border-width:5px;
 margin:0 -5px;
 border-top-color:#fff
}
.ads_edit_geo_place_radius_selector_wrap .ui_actions_menu {
 -o-transition:opacity 100ms linear, visibility 100ms linear;
 transition:opacity 100ms linear, visibility 100ms linear;
 right:-25px;
 top:27px;
 max-width:90px;
 min-width:90px
}
.ui_actions_menu_icons {
 background:url(/images/post_more.png?1) no-repeat 50%;
 position:absolute;
 width:22px;
 height:24px;
 top:17px;
 right:16.5px;
 cursor:pointer;
 outline:none
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_actions_menu_icons {
  background-image:url(/images/post_more_2x.png?1);
  background-size:18px 4px
 }
}
.ui_actions_menu_item {
 text-overflow:ellipsis;
 overflow:hidden;
 display:block;
 white-space:nowrap;
 position:relative;
 height:30px;
 line-height:30px;
 padding:0 15px;
 color:#2a5885;
 outline:none
}
.ui_actions_menu_item:hover {
 text-decoration:none;
 background-color:#e4eaf0
}
.ui_actions_menu_item:hover .ui_actions_menu_hide {
 visibility:visible;
 opacity:0.75;
 filter:alpha(opacity=75)
}
.ui_actions_menu_item.ui_actions_menu_item_about {
 background:none;
 color:#939393;
 font-size:12px;
 line-height:14px;
 height:auto;
 width:auto;
 padding-top:5px;
 padding-bottom:8px;
 cursor:text!important
}
.ui_actions_menu_item.ui_actions_menu_item_about:before {
 content:'';
 border-top:1px solid #e7e8ec;
 display:block;
 padding-bottom:13px;
 margin:0 -5px
}
.ui_actions_menu_item.ui_actions_menu_item_lock {
 color:transparent;
 pointer-events:none
}
.ui_actions_menu_item.ui_actions_menu_item_lock>b {
 color:transparent
}
.ui_actions_menu_item.ui_actions_menu_item_lock .ui_actions_menu_item_lock_text {
 position:absolute;
 top:0;
 bottom:0;
 left:0;
 right:31px;
 padding:inherit;
 color:#2a5885;
 overflow:hidden;
 text-overflow:ellipsis
}
.ui_actions_menu_item.ui_actions_menu_item_lock .pr {
 position:absolute;
 right:15px;
 top:13px
}
.ui_actions_menu_item.ui_actions_menu_item_disabled {
 color:#abaeb1;
 cursor:default!important
}
.ui_actions_menu_item.ui_actions_menu_item_disabled:hover {
 background-color:transparent
}
.ui_actions_menu_item_label {
 overflow:hidden;
 text-overflow:ellipsis
}
.ui_actions_menu_item_sublist {
 background:url(/images/svg_icons/contour_arrow.svg) no-repeat;
 background-position:right 14px;
 border-right:15px solid transparent
}
.ui_actions_menu_sublist .ui_actions_menu_item {
 padding-left:35px
}
.ui_actions_menu_sublist .ui_actions_menu_item.checked {
 background:url(/images/icons/dropdown_check.png?2) no-repeat 14px 10px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_actions_menu_sublist .ui_actions_menu_item.checked {
  background-image:url(/images/icons/dropdown_check_2x.png?2);
  background-size:14px 10px
 }
}
.ui_actions_menu_sublist .ui_actions_menu_item.checked:hover {
 background-color:#e4eaf0
}
.ui_actions_menu_item_extra_label {
 float:right;
 color:#656565;
 font-size:12px
}
.ui_actions_menu_sep {
 border-top:1px solid #dbe4ec;
 margin:4px 13px
}
.ui_actions_menu_hide {
 float:right;
 background:url(/images/post_icon.png?10) no-repeat 1px -52px;
 margin:9px -2px 0 0;
 cursor:pointer;
 height:13px;
 width:13px;
 visibility:hidden;
 opacity:0;
 filter:alpha(opacity=0);
 -o-transition:visibility 100ms ease, opacity 100ms ease;
 transition:visibility 100ms ease, opacity 100ms ease
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_actions_menu_hide {
  background-image:url(/images/post_icon_2x.png?10);
  background-size:20px 413px
 }
}
.ui_actions_menu_hide:hover {
 opacity:1!important;
 -webkit-filter:none!important;
 filter:none!important
}
.ui_zoom_wrap {
 position:relative;
 overflow:hidden
}
.ui_zoom_wrap:hover .ui_zoom_added .ui_zoom {
 bottom:0
}
.ui_zoom_wrap .online {
 position:static
}
.ui_zoom_outer {
 left:0;
 right:0;
 height:30px
}
.ui_zoom_outer,.ui_zoom_inner {
 position:absolute;
 bottom:0;
 overflow:hidden
}
.ui_zoom_inner {
 display:block;
 width:100px;
 height:100px;
 border-radius:50%
}
.ui_zoom {
 position:absolute;
 bottom:-30px;
 background:#333;
 background:rgba(0,0,0,.5);
 width:100%;
 height:30px;
 box-sizing:border-box;
 padding:9px 0 6px;
 -o-transition:bottom 0.2s ease;
 transition:bottom 0.2s ease
}
.ui_zoom:hover {
 text-decoration:none
}
.ui_zoom:hover .ui_zoom_icon {
 opacity:1;
 -webkit-filter:none;
 filter:none
}
.ui_grey_block {
 background:#fafbfc;
 border-top:solid 1px #e7e8ec
}
.ui_clean_list {
 margin:0;
 display:block;
 padding:0;
 list-style:none
}
@media all and (min-width: 0) {
 .ui_zoom {
  -webkit-filter:none;
  filter:none
 }
}
.ui_zoom_icon {
 opacity:0.75;
 filter:alpha(opacity=75);
 width:13px;
 height:13px;
 margin:0 auto;
 background:url(/images/zoom_photo.png) no-repeat 0 0
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_zoom_icon {
  background-image:url(/images/zoom_photo_2x.png);
  background-size:13px 13px
 }
}
.ui_thumb_pe_button,.ui_thumb_x_button {
 position:absolute;
 top:0;
 right:0;
 background:rgba(29,32,34,.6);
 border-radius:0 0 0 2px;
 padding:5px;
 cursor:pointer;
 outline:none
}
.ui_thumb_pe_button .ui_thumb_pe,.ui_thumb_pe_button .ui_thumb_x,.ui_thumb_x_button .ui_thumb_pe,.ui_thumb_x_button .ui_thumb_x {
 display:block;
 background:url(/images/attach_icons.png?4) no-repeat 0 -40px;
 opacity:0.85;
 filter:alpha(opacity=85);
 width:8px;
 height:8px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_thumb_pe_button .ui_thumb_pe,.ui_thumb_pe_button .ui_thumb_x,.ui_thumb_x_button .ui_thumb_pe,.ui_thumb_x_button .ui_thumb_x {
  background-image:url(/images/attach_icons_2x.png?4);
  background-size:32px 254px
 }
}
.ui_thumb_pe_button:hover .ui_thumb_x,.ui_thumb_x_button:hover .ui_thumb_x {
 opacity:1;
 -webkit-filter:none;
 filter:none
}
.ui_thumb_pe_button.ui_thumb_small_x,.ui_thumb_x_button.ui_thumb_small_x {
 padding:3px
}
.ui_thumb_extra {
 position:absolute;
 bottom:0;
 left:0;
 width:100%;
 text-align:center;
 padding:15px 0;
 opacity:0;
 -o-transition:opacity 100ms linear;
 transition:opacity 100ms linear;
 background:-o-linear-gradient(top, transparent 0%, rgba(0,0,0,.55) 100%);
 background:linear-gradient(180deg, transparent 0%, rgba(0,0,0,.55))
}
.ui_thumb_extra .ui_extra_btn {
 width:24px;
 height:24px;
 background-image:url(/images/attach_icons.png?4);
 background-position:-5px -167px;
 display:inline-block;
 margin:0 6px;
 opacity:0.7;
 cursor:pointer
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_thumb_extra .ui_extra_btn {
  background-image:url(/images/attach_icons_2x.png?4);
  background-size:32px 254px
 }
}
.ui_thumb_extra .ui_extra_btn:hover {
 opacity:1
}
.ui_thumb_extra .ui_extra_btn#ui_btn_pe {
 background-position:-5px -200px
}
.thumb_wrap:hover .ui_thumb_extra {
 opacity:1
}
.moving .ui_thumb_extra {
 display:none
}
.ui_thumb_pe_button {
 right:inherit;
 left:0;
 border-radius:0 0 2px 0;
 padding:0
}
.ui_thumb_pe_button .ui_thumb_pe {
 height:18px;
 width:18px;
 background:url(/images/attach_icons.png?4) no-repeat 0 -159px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_thumb_pe_button .ui_thumb_pe {
  background-image:url(/images/attach_icons_2x.png?4);
  background-size:32px 254px
 }
}
.ui_toggler_wrap {
 padding:13px 15px;
 font-size:12.5px;
 line-height:15px;
 cursor:pointer;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
.ui_toggler_wrap .ui_toggler {
 float:right;
 margin-top:3px
}
.ui_toggler_wrap.hot {
 background:url(/images/icons/interesting.png) no-repeat;
 padding-left:19px;
 border-left:15px solid transparent;
 background-position:left 13px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_toggler_wrap.hot {
  background-image:url(/images/icons/interesting_2x.png);
  background-size:11px 13px
 }
}
.ui_toggler_label {
 overflow:hidden
}
.ui_toggler {
 margin-top:4px;
 width:28px;
 height:9px;
 border-radius:45px;
 background-color:#d1d9e0;
 cursor:pointer
}
.ui_toggler:after {
 content:'';
 float:left;
 position:relative;
 width:13px;
 height:13px;
 border-radius:50%;
 border:1px solid #b2bcc5;
 background-color:#fff;
 top:-3px;
 left:0;
 -o-transition:left 0.1s ease;
 transition:left 0.1s ease
}
.ui_toggler.on {
 background-color:#c4d2e1
}
.ui_toggler.on:after {
 background-color:#6287ae;
 border-color:#6287ae;
 left:13px
}
.ui_toggler.no_transition:after {
 -o-transition:none!important;
 transition:none!important
}
.box_body .ui_toggler {
 margin-top:6px
}
.ui_scroll_container {
 overflow:visible!important;
 position:relative
}
.ui_scroll_container:not(.ui_scroll_native) .ui_scroll_blocker::-webkit-scrollbar,.ui_scroll_container:not(.ui_scroll_native) .ui_scroll_outer::-webkit-scrollbar {
 display:none
}
.ui_scroll_blocker,.ui_scroll_outer {
 -webkit-tap-highlight-color:transparent;
 width:inherit;
 height:inherit;
 min-height:inherit;
 max-height:inherit;
 overflow-y:scroll;
 overflow-x:hidden
}
.ui_scroll_blocker {
 padding-right:100px
}
.ui_scroll_outer {
 -webkit-overflow-scrolling:touch;
 padding-right:50px
}
.ui_scroll_native>.ui_scroll_overflow>.ui_scroll_blocker>.ui_scroll_outer,.ui_scroll_native>.ui_scroll_overflow>.ui_scroll_outer {
 padding-right:0
}
.ui_scroll_unnecessary>.ui_scroll_overflow>.ui_scroll_blocker>.ui_scroll_outer {
 margin:0!important
}
.ui_scroll_overflow {
 overflow:hidden;
 position:relative;
 width:inherit;
 height:inherit;
 min-height:inherit;
 max-height:inherit
}
.ui_scroll_dragging .ui_scroll_overflow {
 pointer-events:none
}
.ui_scroll_inner {
 width:inherit;
 position:relative;
 box-sizing:border-box
}
.ui_scroll_inner::-webkit-scrollbar {
 display:initial
}
.ui_scroll_blocker,.ui_scroll_outer,.ui_scroll_overflow {
 -ms-scroll-limit-x-max:0;
 -ms-scroll-limit-x-min:0
}
.ui_scroll_bar_container {
 z-index:100;
 position:absolute;
 top:0;
 bottom:0;
 right:0
}
.ui_scroll_disabled>.ui_scroll_bar_container,.ui_scroll_unnecessary>.ui_scroll_bar_container {
 opacity:0!important;
 filter:alpha(opacity=0)!important;
 pointer-events:none
}
.mobile .ui_scroll_bar_container {
 pointer-events:none
}
.ui_scroll_bar_outer {
 position:relative;
 width:100%;
 height:100%
}
.ui_scroll_bar_inner {
 position:relative;
 cursor:pointer
}
.ui_scroll_hidden>.ui_scroll_bar_container {
 opacity:0;
 filter:alpha(opacity=0)
}
.ui_scroll_hidden.ui_scroll_dragging>.ui_scroll_bar_container,.ui_scroll_hidden.ui_scroll_scrolled>.ui_scroll_bar_container,.ui_scroll_hidden>.ui_scroll_bar_container:hover {
 opacity:1;
 -webkit-filter:none;
 filter:none
}
.ui_scroll_resize_sensor {
 position:absolute;
 z-index:-1;
 top:0;
 bottom:0;
 left:0;
 right:0;
 overflow:hidden;
 visibility:hidden
}
.ui_scroll_resize_expand div,.ui_scroll_resize_shrink div {
 position:absolute;
 top:0;
 left:0;
 -o-transition:0s;
 transition:0s
}
.ui_scroll_resize_shrink div {
 width:200%;
 height:200%
}
.ui_scroll_resize_object {
 display:block;
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 border:none;
 padding:0;
 margin:0;
 opacity:0;
 z-index:-1000;
 pointer-events:none
}
.ui_scroll_resize_object::-webkit-scrollbar {
 display:none
}
.ui_scroll_shadow_bottom,.ui_scroll_shadow_top {
 position:absolute;
 z-index:99;
 pointer-events:none;
 left:0;
 right:0;
 opacity:0;
 filter:alpha(opacity=0)
}
.ui_scroll_shadow_top {
 top:0
}
.ui_scroll_shadow_top_visible>.ui_scroll_overflow>.ui_scroll_shadow_top {
 opacity:1;
 -webkit-filter:none;
 filter:none
}
.ui_scroll_shadow_bottom {
 bottom:0
}
.ui_scroll_shadow_bottom_visible>.ui_scroll_overflow>.ui_scroll_shadow_bottom {
 opacity:1;
 -webkit-filter:none;
 filter:none
}
.ui_scroll_disabled>.ui_scroll_overflow>.ui_scroll_blocker,.ui_scroll_disabled>.ui_scroll_overflow>.ui_scroll_blocker>.ui_scroll_outer,.ui_scroll_disabled>.ui_scroll_overflow>.ui_scroll_outer {
 overflow:hidden!important;
 padding:0!important
}
.ui_scroll_default_theme>.ui_scroll_bar_container>.ui_scroll_bar_outer {
 -o-transition:background-color 200ms linear;
 transition:background-color 200ms linear
}
.ui_scroll_default_theme>.ui_scroll_bar_container>.ui_scroll_bar_outer>.ui_scroll_bar_inner {
 -o-transition:background-color 200ms linear, width 150ms linear;
 transition:background-color 200ms linear, width 150ms linear;
 background:#dae1e8;
 border-radius:3px;
 width:6px
}
.ui_scroll_default_theme>.ui_scroll_bar_container {
 -o-transition:opacity 250ms linear;
 transition:opacity 250ms linear;
 border:3px solid transparent
}
.ui_scroll_default_theme>.ui_scroll_overflow>.ui_scroll_shadow_bottom,.ui_scroll_default_theme>.ui_scroll_overflow>.ui_scroll_shadow_top {
 -o-transition:opacity 250ms linear;
 transition:opacity 250ms linear;
 box-shadow:0 2px 3px -1px rgba(0,0,0,.12);
 height:3px
}
.ui_scroll_default_theme>.ui_scroll_overflow>.ui_scroll_shadow_top {
 top:-3px
}
.ui_scroll_default_theme>.ui_scroll_overflow>.ui_scroll_shadow_bottom {
 bottom:-3px;
 -webkit-transform:rotate(180deg);
 -ms-transform:rotate(180deg);
 -o-transform:rotate(180deg);
 transform:rotate(180deg)
}
.ui_scroll_default_theme .ui_scroll_bar_container:hover>.ui_scroll_bar_outer>.ui_scroll_bar_inner,.ui_scroll_default_theme.ui_scroll_dragging>.ui_scroll_bar_outer>.ui_scroll_bar_inner {
 width:8px;
 background:#bec8d3;
 border-radius:4px
}
.ui_scroll_default_theme.ui_scroll_scrolled>.ui_scroll_bar_container>.ui_scroll_bar_outer>.ui_scroll_bar_inner {
 background:#bec8d3
}
.ui_scroll_no_transition_theme>.ui_scroll_bar_container>.ui_scroll_bar_outer,.ui_scroll_no_transition_theme>.ui_scroll_bar_container>.ui_scroll_bar_outer>.ui_scroll_bar_inner {
 -o-transition:initial;
 transition:initial
}
.ui_scroll_no_transition_theme .ui_scroll_bar_container:hover>.ui_scroll_bar_outer>.ui_scroll_bar_inner,.ui_scroll_no_transition_theme.ui_scroll_dragging>.ui_scroll_bar_outer>.ui_scroll_bar_inner {
 width:6px;
 background:#dae1e8;
 border-radius:3px
}
.ui_scroll_no_transition_theme.ui_scroll_scrolled>.ui_scroll_bar_container>.ui_scroll_bar_outer>.ui_scroll_bar_inner {
 background:#dae1e8
}
.scrollbar_cont {
 width:10px;
 height:100%;
 margin-top:0;
 position:absolute;
 background-color:hsla(0,0%,78%,0);
 -o-transition:all 150ms linear;
 transition:all 150ms linear;
 z-index:100;
 cursor:pointer
}
.scrollbar_cont.scrollbar_c_overed {
 background:none;
 width:12px
}
.scrollbar_cont.scrollbar_hidden .scrollbar_inner {
 opacity:0;
 filter:alpha(opacity=0)
}
.scrollbar_cont.scrollbar_hidden.scrollbar_c_overed .scrollbar_inner,.scrollbar_cont.scrollbar_hidden .scrollbar_inner.scrollbar_hovered {
 opacity:1;
 -webkit-filter:none;
 filter:none
}
.scrollbar_inner {
 background:#dae1e8;
 width:6px;
 height:26px;
 margin:0 0 0 1px;
 border-radius:3px;
 -o-transition:opacity 0.15s ease, width 150ms linear, background-color 200ms linear;
 transition:opacity 0.15s ease, width 150ms linear, background-color 200ms linear;
 cursor:pointer
}
.scrollbar_c_overed .scrollbar_inner {
 width:8px;
 border-radius:4px
}
.scrollbar_hovered,.scrollbar_inner:hover {
 background:#bec8d3
}
.scrollbar_bottom,.scrollbar_top {
 position:absolute;
 margin-top:-3px;
 padding-bottom:3px;
 z-index:100
}
.scrollbar_top {
 display:none
}
.scrollbar_top,.scrollbar_bottom {
 box-shadow:0 2px 3px -1px rgba(0,0,0,.12)
}
.scrollbar_bottom {
 margin-top:0;
 padding-bottom:3px;
 -webkit-transform:rotate(180deg);
 -ms-transform:rotate(180deg);
 -o-transform:rotate(180deg);
 transform:rotate(180deg)
}
.scrollbar_cont_horiz {
 width:100%;
 height:10px
}
.scrollbar_cont_horiz.scrollbar_c_overed {
 width:100%;
 height:12px
}
.scrollbar_cont_horiz .scrollbar_inner {
 width:26px;
 height:6px;
 -o-transition:height 150ms linear, background-color 200ms linear;
 transition:height 150ms linear, background-color 200ms linear
}
.scrollbar_cont_horiz.scrollbar_c_overed .scrollbar_inner {
 width:26px;
 height:8px
}
.scrollbar_cont.light_scrollbar_cont {
 background-color:transparent
}
.scrollbar_cont.light_scrollbar_cont.scrollbar_c_overed.light_scrollbar_c_overed {
 background:none
}
.right_list_header {
 display:block;
 overflow:hidden;
 padding:0 15px;
 height:32px;
 line-height:39px;
 font-size:12.5px;
 letter-spacing:0;
 color:#000
}
.right_list_header:hover {
 text-decoration:none
}
.right_list {
 padding:6px 15px 15px
}
.right_list .flat_button {
 margin-top:6px
}
.right_list.full {
 padding-bottom:9px
}
.right_list.full .flat_button {
 display:none
}
.live_announce {
 padding:6px 15px 2px
}
.live_announce .ui_actions_menu_hide {
 visibility:visible;
 opacity:0.5;
 margin-top:0
}
.live_announce .ui_actions_menu_hide:hover {
 opacity:1
}
.right_list_row {
 padding:6px 0
}
.right_list_row:hover .right_list_controls {
 visibility:visible
}
.right_list_photo {
 float:left;
 width:40px;
 height:40px;
 overflow:hidden;
 margin-right:8px
}
.right_list_img {
 width:40px;
 height:40px;
 border-radius:50%
}
.right_list_info {
 padding-top:3px;
 font-size:12.5px
}
.right_list_info.right_list_compact {
 padding-top:0
}
.right_list_field {
 padding-bottom:4px;
 white-space:nowrap;
 text-overflow:ellipsis;
 overflow:hidden;
 color:#939393
}
.right_list_compact .right_list_field {
 padding-bottom:2px
}
.right_list_field.right_list_field__common_text {
 color:#000;
 white-space:normal
}
.right_list_field.right_list_field--live {
 white-space:normal
}
.right_list_field .group_link,.right_list_link {
 color:#939393
}
.right_list_controls {
 float:right;
 visibility:hidden;
 margin:7px -5px 0 0
}
#box_layer .privacy_olist {
 overflow:auto;
 overflow-x:hidden
}
.olist_topsh .olist_filter_wrap {
 border-color:#fff;
 box-shadow:0 1px 3px 0 rgba(0,0,0,.12);
 z-index:10
}
.olist_topsh .ui_search_field {
 margin-bottom:-1px
}
.olist_topsh .privacy_olist {
 margin-top:1px
}
.olist_botsh .box_controls {
 border-top-color:#e4e6e9;
 box-shadow:0 -1px 3px 0 rgba(0,0,0,.06)
}
.olist_filter_actions .ui_actions_menu {
 width:200px;
 margin:-5px -23px 0 0
}
.olist_filter_label {
 padding:14px 15px 13px;
 line-height:19px;
 font-size:12.5px;
 display:block;
 background:url(/images/svg_icons/contour_arrow.svg) no-repeat;
 background-position:right 22px
}
.olist_item_wrap {
 display:block;
 margin:0 25px;
 line-height:0;
 zoom:1;
 border-bottom:1px solid #e7e8ec;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
.olist_item_wrap:hover {
 margin:-1px 0 0;
 padding:0 25px;
 border-top:1px solid #e7e8ec;
 background-color:#fafbfc;
 text-decoration:none
}
.olist_item_wrap:hover .olist_item_on_label,.olist_item_wrap:hover .olist_item_over_label {
 text-decoration:underline
}
.olist_item_wrap:last-child {
 border-bottom:0
}
.olist_item_wrap em {
 background:#e7edf2;
 padding:0;
 margin:0;
 font-style:normal
}
.olist_checkbox {
 float:right;
 margin:6px 5px 0 0;
 width:22px;
 height:22px;
 background:url(/images/icons/check_uncheck.png) no-repeat 0 -26px
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .olist_checkbox {
  background-image:url(/images/icons/check_uncheck_2x.png);
  background-size:22px 48px
 }
}
.olist_item_wrap_on .olist_checkbox {
 background-position:0 0
}
.olist_item_wrap_disabled {
 opacity:0.5;
 filter:alpha(opacity=50);
 pointer-events:none
}
.olist_item {
 height:34px;
 padding:12px 0
}
.olist_item_photo_wrap {
 float:left
}
.olist_item_photo {
 display:block;
 overflow:hidden;
 width:34px;
 height:34px;
 border-radius:50%
}
.olist_ignored .olist_item {
 position:relative
}
.olist_item_name,.olist_item_on_label,.olist_item_over_label {
 display:block;
 white-space:nowrap;
 text-overflow:ellipsis;
 line-height:33px
}
.olist_item_name {
 float:left;
 font-weight:500;
 -webkit-font-smoothing:subpixel-antialiased;
 -moz-osx-font-smoothing:auto;
 color:#2a5885;
 overflow:hidden;
 width:300px;
 height:34px;
 margin:0 10px
}
.olist_item_on_label,.olist_item_over_label {
 float:right
}
.olist_item_on_label,.olist_item_wrap_on .olist_item_over_label {
 display:none
}
.olist_item_wrap_on .olist_item_on_label {
 display:block
}
.olist_item_loading .olist_item_on_label,.olist_item_loading .olist_item_over_label {
 display:none
}
.olist_item_loading .olist_item {
 background:url(/images/upload.gif) no-repeat 98% 50%
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .olist_item_loading .olist_item {
  background-image:url(/images/upload_2x.gif);
  background-size:32px 8px
 }
}
.olist_item_wrap_on.olist_item_loading .olist_item {
 background-image:url(/images/upload_inv.gif)
}
.olist_more {
 display:block;
 margin:0 25px 25px
}
.olist_more_icon {
 display:inline-block;
 width:18px;
 height:8px;
 margin:0 6px;
 background:url(/images/icons/menu_icon.png?7) no-repeat 0 -255px;
 opacity:0.6;
 filter:alpha(opacity=60)
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .olist_more_icon {
  background-image:url(/images/icons/menu_icon_2x.png?7);
  background-size:18px 990px
 }
}
.olist_inner_tabs.tabbed_box .summary_tabs {
 margin-bottom:-1px;
 white-space:nowrap
}
.olist_inner_tabs.tabbed_box .summary_tabs .summary_tab,.olist_inner_tabs.tabbed_box .summary_tabs .summary_tab_plain,.olist_inner_tabs.tabbed_box .summary_tabs .summary_tab_sel {
 float:none;
 display:inline-block
}
.olist_inner_tabs.tabbed_box .summary_tab:hover,.olist_inner_tabs.tabbed_box .summary_tab_sel,.olist_inner_tabs.tabbed_box .summary_tab_sel:hover {
 margin-bottom:-1px
}
.olist_inner_tabs .olist {
 padding-top:1px
}
.ui_progress {
 position:relative;
 width:100%;
 height:17px;
 border-radius:2px;
 overflow:hidden
}
.ui_progress.ui_progress_small {
 height:13px
}
.ui_progress .ui_progress_back {
 box-sizing:border-box;
 width:100%;
 height:100%;
 background-color:#fff;
 border:1px solid #c8d5e2
}
.ui_progress .ui_progress_bar {
 height:100%;
 position:absolute;
 top:0;
 border-radius:2px 0 0 2px;
 -o-transition:width 100ms linear;
 transition:width 100ms linear;
 background-image:url(/images/small_progress_bkg.png);
 background-position-x:0;
 background-position-y:0;
 -webkit-animation:uploadProgressAnimation 1s linear infinite;
 -o-animation:uploadProgressAnimation 1s linear infinite;
 animation:uploadProgressAnimation 1s linear infinite
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_progress .ui_progress_bar {
  background-image:url(/images/small_progress_bkg_2x.png);
  background-size:28px 28px
 }
}
@-webkit-keyframes uploadProgressAnimation {
 0% {
  background-position-x:0
 }
 to {
  background-position-x:28px
 }
}
@-o-keyframes uploadProgressAnimation {
 0% {
  background-position-x:0
 }
 to {
  background-position-x:28px
 }
}
@keyframes uploadProgressAnimation {
 0% {
  background-position-x:0
 }
 to {
  background-position-x:28px
 }
}
.ui_suggester_results_list {
 display:none;
 position:absolute;
 box-sizing:border-box;
 width:100%;
 z-index:101;
 zoom:1;
 background-color:#fff;
 border:1px solid #d3d9de;
 box-shadow:0 1px 3px rgba(0,0,0,.1)
}
.ui_suggester_results_list ul {
 list-style-type:none;
 padding:0;
 margin:0
}
.ui_suggester_results_list ul li {
 color:#000;
 padding:5px 0 7px 48px;
 cursor:pointer;
 overflow:hidden;
 text-align:left;
 line-height:16px;
 font-weight:500;
 -webkit-font-smoothing:subpixel-antialiased;
 -moz-osx-font-smoothing:auto
}
.ui_suggester_results_list ul li.active,.ui_suggester_results_list ul li:hover {
 background:#e7edf2;
 color:#000
}
.ui_suggester_results_list ul li em {
 font-weight:400;
 -webkit-font-smoothing:subpixel-antialiased;
 -moz-osx-font-smoothing:auto;
 font-style:normal
}
.slider {
 padding:3px 0;
 cursor:pointer;
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none
}
.slider .slider_slide {
 height:4px;
 border-radius:2px;
 background-color:#d2d9e1;
 position:relative
}
.slider .slider_loading_bar {
 width:100%;
 height:100%;
 -o-transition:opacity 300ms linear;
 transition:opacity 300ms linear;
 background-image:url(/images/audio_progress.png);
 background-position:0 0;
 -webkit-animation:slider_loading_animation 300ms linear infinite;
 -o-animation:slider_loading_animation 300ms linear infinite;
 animation:slider_loading_animation 300ms linear infinite
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .slider .slider_loading_bar {
  background-image:url(/images/audio_progress_2x.png);
  background-size:9px 2px
 }
}
.slider .slider_amount,.slider .slider_back {
 height:100%;
 width:0;
 border-radius:2px;
 background-color:#5f81a8;
 position:absolute;
 top:0;
 left:0
}
.slider .slider_amount.slider_back_transition,.slider .slider_back.slider_back_transition {
 -o-transition:width 600ms ease;
 transition:width 600ms ease
}
.slider .slider_handler {
 position:absolute;
 background-color:#5f81a8;
 opacity:0;
 border-radius:50%;
 height:0;
 width:0;
 -o-transition:top 80ms linear, width 80ms linear, height 80ms linear, margin-left 80ms linear, opacity 160ms linear;
 transition:top 80ms linear, width 80ms linear, height 80ms linear, margin-left 80ms linear, opacity 160ms linear
}
.slider.active .slider_handler,.slider:hover .slider_handler {
 opacity:1
}
.slider.slider_ad_marker_shown .slider_slide {
 margin-right:11px
}
.slider .slider_ad_marker_wrap {
 float:right;
 padding-bottom:12px;
 position:relative
}
.slider .slider_ad_marker {
 display:block;
 width:8px;
 height:2px;
 background-color:#f5a623
}
.slider.slider_ad_mode .slider_amount {
 background-color:#f5a623
}
.slider.slider_ad_mode .slider_back {
 background-color:#d2d6d9
}
.slider.slider_ad_mode .slider_handler {
 background-color:#f5a623
}
.slider.slider_size_3 .slider_slide {
 height:5px
}
.slider.slider_size_3 .slider_handler {
 top:-2px;
 margin-left:2px
}
.slider.slider_size_3.active .slider_handler,.slider.slider_size_3:hover .slider_handler {
 height:14px;
 width:14px;
 top:-10px;
 margin-left:-7px
}
.slider.slider_size_2 .slider_slide {
 height:3px
}
.slider.slider_size_2 .slider_handler {
 top:0;
 margin-left:2px
}
.slider.slider_size_2.active .slider_handler,.slider.slider_size_2:hover .slider_handler {
 height:12px;
 width:12px;
 top:-4px;
 margin-left:-5px
}
.slider.slider_size_1 .slider_slide {
 height:2px
}
.slider.slider_size_1 .slider_handler {
 top:0
}
.slider.slider_size_1.active .slider_handler,.slider.slider_size_1:hover .slider_handler {
 height:8px;
 width:8px;
 top:-3px;
 margin-left:-4px
}
@-webkit-keyframes slider_loading_animation {
 0% {
  background-position:0 0
 }
 to {
  background-position:9px 0
 }
}
@-o-keyframes slider_loading_animation {
 0% {
  background-position:0 0
 }
 to {
  background-position:9px 0
 }
}
@keyframes slider_loading_animation {
 0% {
  background-position:0 0
 }
 to {
  background-position:9px 0
 }
}
.slider_hint {
 pointer-events:none;
 background:#d2dbe4;
 position:absolute;
 top:100px;
 left:100px;
 z-index:99999;
 padding:4px 6px;
 border-radius:2px;
 margin-top:4px;
 opacity:0;
 -o-transition:visibility 0s 110ms, margin-top 60ms linear, opacity 110ms linear;
 transition:visibility 0s 110ms, margin-top 60ms linear, opacity 110ms linear;
 line-height:1.1em;
 white-space:nowrap;
 color:#4d627d;
 visibility:hidden
}
.slider_hint.visible {
 margin-top:0px;
 opacity:0.95;
 visibility:visible;
 -o-transition:visibility 0s 0ms, margin-top 60ms linear, opacity 110ms linear;
 transition:visibility 0s 0ms, margin-top 60ms linear, opacity 110ms linear
}
.slider_hint:after {
 top:100%;
 left:50%;
 border:solid transparent;
 content:" ";
 height:0;
 width:0;
 position:absolute;
 pointer-events:none;
 border-color:rgba(210,219,228,0);
 border-top-color:#d2dbe4;
 border-width:5px;
 margin-left:-5px
}
.ui_bullet:after {
 content:"";
 display:inline-block;
 margin:0 3px 0 8px;
 width:2px;
 height:2px;
 border-radius:2px;
 vertical-align:middle;
 background:#b3b3b3
}
.reply_submit_hint_tt_point {
 position:absolute;
 top:0;
 right:0;
 width:0;
 height:100%
}
.reply_submit_hint_wrap {
 padding:5px 15px 5px 5px;
 width:240px
}
.reply_submit_hint_title {
 color:#2a5779;
 font-weight:700;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 padding-bottom:2px
}
.reply_submit_hint_opts .radiobtn {
 color:#000;
 padding:10px 0 5px;
 line-height:160%;
 position:relative
}
.reply_submit_hint_opts .radiobtn:before {
 margin-top:3px;
 margin-right:7px
}
.map_balloon_wrapper {
 background-color:#fff;
 border:1px solid #c6d1dc;
 border-radius:2px;
 padding:12px 10px;
 width:260px;
 min-height:100px;
 position:relative
}
.map_balloon_title {
 color:#3b4045
}
.ui_input_labeled {
 display:inline-block;
 width:80px;
 white-space:nowrap;
 overflow:hidden;
 height:30px;
 vertical-align:top;
 line-height:16px;
 box-sizing:border-box
}
.ui_input_labeled div,.ui_input_labeled p {
 display:inline
}
.ui_input_labeled br {
 display:none
}
.ui_input_labeled:after,.ui_input_labeled:before {
 -webkit-user-select:none;
 -moz-user-select:none;
 -ms-user-select:none;
 user-select:none;
 pointer-events:none
}
.ui_input_labeled:after {
 content:attr(data-label);
 padding-left:5px;
 display:inline-block;
 color:#828282;
 width:0;
 margin-right:-5px
}
.ui_input_labeled:not(:focus):empty:after {
 display:none
}
.ui_input_labeled:empty:before {
 content:attr(data-placeholder);
 color:#828282
}
.ui_input_labeled:focus:empty:before {
 display:none
}
input[type=range].step_slider {
 -webkit-appearance:none;
 width:100%;
 margin:4.5px 0;
 padding:0
}
input[type=range].step_slider:focus {
 outline:none
}
input[type=range].step_slider::-moz-focus-outer {
 border:0
}
input[type=range].step_slider::-webkit-slider-runnable-track {
 width:100%;
 height:6px;
 cursor:pointer;
 box-shadow:0px 0px 0px #000, 0px 0px 0px #0d0d0d;
 background:#d6dce1;
 border-radius:0px;
 border:0px solid #010101
}
input[type=range].step_slider::-webkit-slider-thumb {
 box-shadow:0px 0px 0px transparent, 0px 0px 0px hsla(0,0%,5%,0);
 border:0px solid transparent;
 height:15px;
 width:15px;
 border-radius:15px;
 background:#6786ab;
 cursor:pointer;
 -webkit-appearance:none;
 margin-top:-4.5px
}
input[type=range].step_slider:focus::-webkit-slider-runnable-track {
 background:#d9dfe3
}
input[type=range].step_slider::-moz-range-track {
 width:100%;
 height:6px;
 cursor:pointer;
 box-shadow:0px 0px 0px #000, 0px 0px 0px #0d0d0d;
 background:#d6dce1;
 border-radius:0px;
 border:0px solid #010101
}
input[type=range].step_slider::-moz-range-thumb {
 box-shadow:0px 0px 0px transparent, 0px 0px 0px hsla(0,0%,5%,0);
 border:0px solid transparent;
 height:15px;
 width:15px;
 border-radius:15px;
 background:#6786ab;
 cursor:pointer
}
input[type=range].step_slider::-ms-track {
 width:100%;
 height:6px;
 cursor:pointer;
 background:transparent;
 border-color:transparent;
 color:transparent
}
input[type=range].step_slider::-ms-fill-lower {
 background:#d3d9df;
 border:0px solid #010101;
 border-radius:0px;
 box-shadow:0px 0px 0px #000, 0px 0px 0px #0d0d0d
}
input[type=range].step_slider::-ms-fill-upper {
 background:#d6dce1;
 border:0px solid #010101;
 border-radius:0px;
 box-shadow:0px 0px 0px #000, 0px 0px 0px #0d0d0d
}
input[type=range].step_slider::-ms-thumb {
 box-shadow:0px 0px 0px transparent, 0px 0px 0px hsla(0,0%,5%,0);
 border:0px solid transparent;
 height:15px;
 width:15px;
 border-radius:15px;
 background:#6786ab;
 cursor:pointer;
 height:6px
}
input[type=range].step_slider:focus::-ms-fill-lower {
 background:#d6dce1
}
input[type=range].step_slider:focus::-ms-fill-upper {
 background:#d9dfe3
}
.ui_photo_grid_1,.ui_photo_grid_2,.ui_photo_grid_3,.ui_photo_grid_4 {
 text-align:left;
 overflow:hidden;
 border-radius:50%;
 position:relative
}
.ui_photo_grid_1 a,.ui_photo_grid_1 div,.ui_photo_grid_1 img,.ui_photo_grid_2 a,.ui_photo_grid_2 div,.ui_photo_grid_2 img,.ui_photo_grid_3 a,.ui_photo_grid_3 div,.ui_photo_grid_3 img,.ui_photo_grid_4 a,.ui_photo_grid_4 div,.ui_photo_grid_4 img {
 width:inherit;
 height:inherit
}
.ui_photo_grid_1 a,.ui_photo_grid_1 div,.ui_photo_grid_2 a,.ui_photo_grid_2 div,.ui_photo_grid_3 a,.ui_photo_grid_3 div,.ui_photo_grid_4 a,.ui_photo_grid_4 div {
 position:absolute;
 display:block;
 overflow:hidden
}
.ui_photo_grid_1 img,.ui_photo_grid_2 img,.ui_photo_grid_3 img,.ui_photo_grid_4 img {
 position:relative;
 vertical-align:top;
 -moz-force-broken-image-icon:0;
 background-color:#fafbfc
}
.ui_photo_grid_1 img:before,.ui_photo_grid_2 img:before,.ui_photo_grid_3 img:before,.ui_photo_grid_4 img:before {
 content:" ";
 display:block;
 position:absolute;
 top:0;
 left:0;
 width:inherit;
 height:inherit;
 background-color:#fff
}
.ui_photo_grid_1 img:after,.ui_photo_grid_2 img:after,.ui_photo_grid_3 img:after,.ui_photo_grid_4 img:after {
 content:" ";
 display:block;
 position:absolute;
 top:0;
 left:0;
 width:inherit;
 height:inherit;
 background-color:#fafbfc;
 background-image:url(/images/camera_100.png);
 background-size:cover
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
 .ui_photo_grid_1 img:after,.ui_photo_grid_2 img:after,.ui_photo_grid_3 img:after,.ui_photo_grid_4 img:after {
  background-image:url(/images/camera_200.png)
 }
}
.ui_photo_grid_2 .ui_photo_grid_i0 {
 top:0;
 right:50%;
 border-right:1px solid transparent
}
.ui_photo_grid_2 .ui_photo_grid_i0 img {
 right:-25%
}
.ui_photo_grid_2 .ui_photo_grid_i1 {
 top:0;
 left:50%
}
.ui_photo_grid_2 .ui_photo_grid_i1 img {
 left:-25%
}
.ui_photo_grid_3 .ui_photo_grid_i0 {
 top:0;
 right:50%;
 border-right:1px solid transparent
}
.ui_photo_grid_3 .ui_photo_grid_i0 img {
 right:-25%
}
.ui_photo_grid_3 .ui_photo_grid_i1 {
 bottom:50%;
 left:50%;
 border-bottom:1px solid transparent
}
.ui_photo_grid_3 .ui_photo_grid_i1 img {
 left:-25%;
 bottom:-25%
}
.ui_photo_grid_3 .ui_photo_grid_i2 {
 top:50%;
 left:50%
}
.ui_photo_grid_3 .ui_photo_grid_i2 img {
 left:-25%;
 top:-25%
}
.ui_photo_grid_3 .ui_photo_grid_i1 img:after,.ui_photo_grid_3 .ui_photo_grid_i2 img:after {
 top:25%;
 left:25%;
 width:50%;
 height:50%
}
.ui_photo_grid_4 .ui_photo_grid_i0 {
 bottom:50%;
 right:50%;
 border-right:1px solid transparent;
 border-bottom:1px solid transparent
}
.ui_photo_grid_4 .ui_photo_grid_i0 img {
 right:-25%;
 bottom:-25%
}
.ui_photo_grid_4 .ui_photo_grid_i1 {
 bottom:50%;
 left:50%;
 border-bottom:1px solid transparent
}
.ui_photo_grid_4 .ui_photo_grid_i1 img {
 left:-25%;
 bottom:-25%
}
.ui_photo_grid_4 .ui_photo_grid_i2 {
 top:50%;
 right:50%;
 border-right:1px solid transparent
}
.ui_photo_grid_4 .ui_photo_grid_i2 img {
 right:-25%;
 top:-25%
}
.ui_photo_grid_4 .ui_photo_grid_i3 {
 top:50%;
 left:50%
}
.ui_photo_grid_4 .ui_photo_grid_i3 img {
 left:-25%;
 top:-25%
}
.ui_photo_grid_4 .ui_photo_grid_i0 img:after,.ui_photo_grid_4 .ui_photo_grid_i1 img:after,.ui_photo_grid_4 .ui_photo_grid_i2 img:after,.ui_photo_grid_4 .ui_photo_grid_i3 img:after {
 top:25%;
 left:25%;
 width:50%;
 height:50%
}
